.xcrm_content {
 	padding: 5px;
 	background-color: #FFFFFF;
}

.xcrm_content .floater {
	float:left;
	padding: 5px;
}

.xcrm_fields_clear {
	clear:both;
}

.xcrm_fields_save {
	margin-top: 			50px;
	margin-bottom: 			50px;
	background-image: 		url(../img/save.png);
	background-position: 	right top;
	background-repeat: 		no-repeat;
	cursor: 				pointer;
	width: 					79px;
	height: 				30px;
}

.xcrm_fields_delete {
	margin-top: 			50px;
	margin-bottom: 			50px;
	background-image: 		url(../img/record_del.png);
	background-position: 	right top;
	background-repeat: 		no-repeat;
	cursor: 				pointer;
	width: 					79px;
	margin-left:			10px;
	height: 				30px;
}


.new_generic_data {
	padding-left: 10px;
	padding-top: 7px;
	font-family: 'AkagiBook';
	font-size: 14px !important;
	color: black;
	width: 247px;
	height: 50px;
	background-image: url(../img/btn_create_new_gen.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 20px;
}

.betriebe_loading_data {
	display: none;
	position: absolute;
	margin-top: -25px;
	margin-left: 50px;
	width: 110px;
	height: 10px;
	background-image: url(../img/294.gif);
	background-repeat: no-repeat;
}

.betriebe_loading_data_content {
	position: absolute;
	margin: 50px;
	width: 110px;
	height: 10px;
	background-image: url(../img/294.gif);
	background-repeat: no-repeat;
}

.SEARCH_NO_RECORDS_FOUND {
	padding: 20px;
}

.record_deleted {
	padding: 		20px;
	font-family: 	'AkagiBook';
	font-size: 		18px !important;
}