.xcrm_f_checkboxes {

}

.xcrm_f_checkboxes_checker {
	float:					left;
}

.xcrm_f_checkboxes {
	
	
}

.xcrm_f_checkbox {
	float:					left;
}

.xcrm_f_checkbox_cb {
	background-image: 		url(../img/checkbox.png);
	background-position: 	right bottom;
	background-repeat: 		no-repeat;
	cursor: 				pointer;
	width: 					23px;
	height: 				23px;
	float:					left;
	margin-right:			10px;
}

.xcrm_f_checkbox_title {
	float: left;
	color:			#000000;
	font-family: 	'AkagiBook';
	font-size: 		16px !important;
	float:			left;
	padding-right:	10px;
	padding-top:	2px;
	cursor: 				pointer;
}

.xcrm_f_checkbox_cb_checked {
	background-position: right top;
}

