.xcrm_f_geo_point {

}

.xcrm_ga_geo_map {
	width: 100%;
	height: 300px;
}

.xcrm_f_geo_point_controls {
	margin-top: 10px;	
	font-family: 	'AkagiBook';
	font-size: 		14px !important;
}

.xcrm_f_geo_point_controls div{
	
	
}

.xcrm_f_geo_lang_lat div{
	float:left;
	margin-right: 10px;
}

.xcrm_f_geo_q {
}
.xcrm_f_geo_q input{
	margin-top: 5px;
	width: 300px;
}