.list_events {
	padding: 20px;
	
}

.events_poster {
	padding: 			20px;
	width: 				550px;
	height: 			200px;
	background-color: 	#f5f5f5;
	margin-bottom: 		20px;
}

.events_poster_headline {
	position:			absolute;
	font-family:		'AkagiBold';
	font-size: 			14px !important;
	margin-left: 		185px;
}

.events_poster_img{
	position:			absolute;
	width: 				175px;
	height: 			155px;
	background-color: 	#000000;
	cursor: 			pointer;
}

.events_poster_info {
	position:			absolute;
	font-family: 		'AkagiBook';
	font-size: 			14px !important;
	margin-left: 		185px;
	margin-top: 		50px;
}

.events_poster_footer{
	position:			absolute;
	font-family: 		'AkagiBook';
	font-size: 			14px !important;
	margin-left: 		185px;
	margin-top: 		100px;
}

.events_poster_edit{
	position:			absolute;
	width: 				89px;
	height: 			30px;
	background-image: 	url(../img/edit.png);
	background-repeat: 	no-repeat;
	cursor: 			pointer;
	margin-left: 		420px;
	margin-top: 		130px;
}
