#xr_welcome_infopool
{
	padding: 50px;
	float:left;
}

#xr_welcome_inhlatsseiten
{
	padding: 50px;
	float:left;
}

#xr_welcome_graph
{
	padding: 50px;
	float:left;
}

#xr_welcome_logo
{
	margin: 50px;
	float:left;
	background: url('http://www.grand-tirolia.com/xstorage/template/img/grandtirolia_logo.png') no-repeat;
	width: 170px;
	height: 55px;
}