

.subscription-valid td {
	background-color:#eeffee!important;
}

.subscription-invalid td{
	background-color:#ffead4!important;
}

.subscription-ends-today td{
	background-color:#000000!important;
	color:white;
}

.subscription-notyet td {

}


.topppppppppppppx td {
	vertical-align: top;
}

.submission_preview
{
	text-align:center;
	width:100%;
}

.submission_preview img
{
	border: 1px solid #CCCCCC;
}

.submission_artwork_detail
{
	border: 1px solid #CCCCCC;
	cursor:pointer;
}

.xluerzer_video_player_background {
	background-color: black;
}

.submission_by_campaing img {
		float: left;
		border: 1px solid #CCCCCC;
		margin: 5px;
}


.xluerzer_thumb_small {

float: left;
padding: 8px;
margin: 8px;
 
}

.xluerzer_thumb_small img {

width: 100px;
zheight: 56px;
	border: 1px solid #CCCCCC;
 
}


.mce-content-body span {
	display: inline-block !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

.xluerzer_thumb_small h3 {
font-size: 12px;
font-weight: normal;
text-align: center;
padding-top: 5px;
margin: 0;
}

.settings {
	
}


.pastClass {
	background-color: #dfdfdf !important;
}

.futureClass {
	background-color: #ccccff !important;
}

.todayClass {
	background-color: #ffffff !important;	
}


.xl_video_encode {
	background-image: url("../../../../xframe/icons/fugue/film.png") !important;
}

.xl_mail {
	background-image: url("../../../../xframe/icons/fugue/mail-open-image.png") !important;
}

.xl_publish {
	background-image: url("../../../../xframe/icons/fugue/newspaper.png") !important;
}

.xl_copy_left {
	background-image: url("../../../../xframe/icons/fugue/arrow-switch-180.png") !important;
}

.xl_copy_right {
	background-image: url("../../../../xframe/icons/fugue/arrow-switch.png") !important;
}

.xl_copy_user {
	background-image: url("../../../../xframe/icons/fugue/ui-search-field.png") !important;
}

.cc_group {
	background-image: url("../../../../xframe/icons/fugue/tag-medium.png") !important;
}
.cc_group_node {
	background-image: url("../../../../xframe/icons/fugue/tag-small.png") !important;
}


span.creditshtml	{
	display: inline-block;
	width: 40px;
	height: 20px;
}

/* credits fe */
span .client_company {
	background: url(../../../../../archive_template/img/icons/client.png) no-repeat;
}
span .ad_agency	{
	background: url(../../../../../archive_template/img/icons/agency.png) no-repeat;
}
span .creative_director	{
	background: url(../../../../../archive_template/img/icons/creative-director.png) no-repeat;
}
span .art_director	{
	background: url(../../../../../archive_template/img/icons/art-director.png) no-repeat;
}
span .copywriter	{
	background: url(../../../../../archive_template/img/icons/copywriter.png) no-repeat;
}
span .photographer	{
	background: url(../../../../../archive_template/img/icons/photographer.png) no-repeat;
}
span .illustrator	{
	background: url(../../../../../archive_template/img/icons/illustrator.png) no-repeat;
}
span .production_company {
	background: url(../../../../../archive_template/img/icons/production-company.png) no-repeat;
}
span .director	{
	background: url(../../../../../archive_template/img/icons/director.png) no-repeat;
}
span .typographer	{
	background: url(../../../../../archive_template/img/icons/typographer.png) no-repeat;
}
span .representative	{
	background: url(../../../../../archive_template/img/icons/representative.png) no-repeat;
}
span .digital_artist	{
	background: url(../../../../../archive_template/img/icons/digital-artist.png) no-repeat;
}
span .institute	{
	background: url(../../../../../archive_template/img/icons/school.png) no-repeat;
}
span .instructor	{
	background: url(../../../../../archive_template/img/icons/teacher.png) no-repeat;
}


/*
.xf_tf_credit_none {
	background-color: rgb(145, 145, 145);
}

.xf_tf_credit_none label{
	color: white;
}
*/
.xf_tf_credit_none label:after {
	background-color: rgb(145, 145, 145);
	color: white; 
	margin-top: 2px;
	padding: 2px;
	display: block;  
	content: "[NONE]";
}

/*
.xf_tf_credit_donotknow {
	background-color: rgb(253, 212, 212);
	color: white;
}
*/

.xf_tf_credit_donotknow label:after{
	background-color: rgb(253, 212, 212);
	color: white; 
	margin-top: 2px;
	padding: 2px;
	display: block;
	content: "[DON'T KNOW]";
}