@header-font: Georgia;


h1, h2, h3, h4 {
    font-family: @header-font; 
}




.large {
    font-family:@header-font;
}



body {

    background-color:cyan;
    color: blue;

    .search-start  
    {
        .einleitungstext
        {
            span
            {
                font-size: 10.63vw;
                color: black;
            }
        }
    }

}

