@import "13.less";

.row.start-overlay {
    background-color: @dark-grey;
    // background: -webkit-linear-gradient(white, @dark-grey);
    // background: -o-linear-gradient(white, @dark-grey); 
    // background: -moz-linear-gradient(white, @dark-grey); 
    // background: linear-gradient(white, @dark-grey);
}

/************************/
/*      HEADLINES       */
/************************/
h1 {
	color: @blue;
	font-family: @japoki;
	font-size: 4.5rem;
	text-transform: none;
}
.start-overlay {
	h1 {
    	color: @blue;
    	font-family: @japoki;
    	font-size: 4.5rem;
    	text-align: center;
    	line-height: 5rem;
    	margin: 3rem auto;
	}
	h1>span {
		text-transform: lowercase;
	}
}
.worumgehts {
	h1 {
		font-size: 5rem;
		margin: 0;
		text-align: left;
	}
}
.impressum {
	h1 {
		font-size: 5rem;
		margin: 0;
		text-align: left;
	}
}
h2 {
	color: @blue !important;
	font-family: @helvetica !important;
	font-size: 2.7rem !important;
	letter-spacing: inherit !important;
	margin-top: 4rem !important;
	text-transform: uppercase !important;
}
.start-overlay {
    h2 {
        text-align: center !important;
        font-weight: bold;
        letter-spacing: 0.1rem !important;
    }
}
.search-start{
	h2.find {
    	color: #000 !important;
    	font-family: @helvetica !important;
    	font-size: 2.7rem !important;
    	font-weight: bold !important;
    	letter-spacing: inherit !important;
    	margin-top: 5rem !important;
    	text-align: left !important;
    	text-transform: uppercase !important;
    	
	}
}
.anmelden-inner {
    h2 {
        font-size: 2.3rem !important;
        margin: 0 !important;
    }
    input.form-control {
        color: #333;
    }
    
}
.register-fragen {
    .row {
        margin-left: 1.5rem;
        h2 {
            font-weight: bold;
            text-transform: none !important;
            letter-spacing: 0.1rem!important;
            margin-bottom: 2rem;
            margin-top: 2rem !important;
        }
    }
}


h3, h3.headline {
	color: @blue;
	font-family: @japoki;
	font-size: 2.7rem;
}
h3.jaapokk {
	font-family: @japoki;
	font-size: 2.7rem !important;
	text-align: left;
}
#blog-page, .blog-page {
    h3 {
        font-family: @helvetica65;
	    font-size: 2.7rem !important;
	    text-align: left;
    }
    .date {
        color: #fff;
    }
}
.blog {
	h3 {
		font-family: @helvetica65;
		font-size: 1.6rem !important;
	}
}
h4 {
	font-size: 1.9rem;
	letter-spacing: -.025rem;
}
hgroup {
	margin: 5rem auto 5rem auto;
}
/*****************************/
/*      END HEADLINES       */
/***************************/





/*****************************/
/*      BUTTONS / LINKS     */
/***************************/
.col-xs-10.col-xs-offset-1 {
    .button.start-button {
        text-align: center;
        margin: 0 auto 2rem auto;
    }
}

.einleitungstext {
    a {
        color: inherit !important;
        text-decoration: none !important;
    }
}

.button.start-button{
    color: #fff !important;
    border-radius: .4rem;
    text-shadow: 1px 1px 1px @dark-grey;
    font-size: 2rem;
}
.button.start-button
{
    font-family:@helvetica65;
    font-weight: normal;

    width: 185px;
    .font-size(14);
    
    &:hover{
        color: #333 !important;
        text-shadow: none !important;
        text-decoration: none;
    }
    
    &:active,
    &:focus,
    {
        text-decoration: none;
        color: #ffffff;
    }

    &.start-button-wie
    {
        width: 250px;
        text-transform: none;
    }

    @media @lg
    {
        width: 215px;
        .font-size(17);

        &.start-button-wie
        {
            width: 280px;
        }
    }

    @media @xl{
         width: 265px;
        .font-size(20);

        &.start-button-wie
        {
            width: 310px;
        }
    }

    @media @xxl{
         width: 300px;
        .font-size(22);

        &.start-button-wie
        {
            width: 340px;
        }
    }

    @media @xxxl{
        width: 360px;
        font-size: 2.1rem;
        &.start-button-wie
        {
            width: 400px;
        }
    }
}
/*********************************/
/*      END BUTTONS / LINKS     */
/*******************************/



/*****************************************/
/*      TEXTE / LEFT RIGHT MID ROW      */
/***************************************/
#EmailConfirmModal {
    padding-left: 0;
}

.left-row {
    .form-control {
        color: inherit;
    }
}
label#cost{
    margin-bottom: 1.5rem;
}
.header-wrapper  {
    color: @blue !important;
}

p.start-text {
	color: #fff;
	font-family: @helvetica45;
	font-size: 1.8rem;
    margin: 2rem 0 4rem 0;
    text-align: center;
	text-transform: none;
}
p.start-aussagen {
	color: #fff;
	font-family: @helvetica45;
	font-size: 1.5rem;
}

.start-overlay.start-meinungen.start-meinungen-abstand {
    padding-top: 2rem;
}

.col-xs-2 {
	p.start-aussagen {
		font-size: 1.4rem;
		letter-spacing: .03rem;
	}
}
.faq-text.impressum {
	margin-bottom: 5rem;
	padding-left: 0;
}
.faq-container {
	margin: 3rem auto;
}
.worumgehts.default-container-padding {
	padding: 3rem;
}
.impressum.default-container-padding {
	padding: 3rem;
}
.row {
	margin: 0 -2.2rem 0 -0.75rem;
	
	.start-meinungen-abstand {
		margin: 0;
		padding-top: 2rem;
	}
}
.row.start-meinungen-abstand {
    &:first-of-type {
        padding-top: 0;
    }
}
div.row {
	&:first-of-type {
		margin-top: 0;
	}
	&:last-of-type {
		margin-top: 0;
	}
}

// WG ZIMMER / MITBEWOHNER FINDEN \\
.register-fragen {
    background: @dark-grey;
    font-size: 1.6rem;
    .row {
        div[class*="col-"] {
		    label {
		        color: #fff;
				text-transform: none;
				font-weight: normal;
				font-size: 1.6rem;
			}
		}
    }
}
input[type=checkbox] {
    margin: 0.6rem 0.6rem 0;
}
.register-inner {
    .form-group {
        margin-top: 1.5rem;
    }
}
.form-control {
	font-size: 1.6rem;
	font-family: @helvetica45;
	color: #fff;
	border: 1px solid #fff;
}
.small {
    color: #fff;
    font-size: 1.2rem;
}
.register-inner {
    margin-right: 9rem;
}
// END WG ZIMMER / MITBEWOHNER FINDEN \\

.right-row {
    .date {
        font-family: @helvetica45 !important; 
        color: #333 !important;
    }
	.footer {
		font-size: 1.3rem !important;
		.footer-top>a>span {
			font-size: 1.8rem;
			text-shadow: .126rem .126rem .126rem #666666;
		}
		.footer-bottom>a>span {
			font-size: 1.5rem;
		}
		.footer-top>a {
			border-right: .1rem solid @dark-grey;
			padding-right: .5rem;
			text-transform: uppercase;
		}
		.footer-bottom>a {
			border-right: .1rem solid @dark-grey;
			padding-right: .5rem;
			text-transform: uppercase;
		}
	}
}
.footer a:focus, .footer a:active, .footer a.active, .footer a:hover  {
	border-right: .1rem solid @blue !important;
	color: @blue;
	text-shadow: .126rem .126rem .126rem rgba(50, 220, 205, .4);
}



// LOGGEDIN CONTENT
.picture-row {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
}
.picture-col {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
    transform: translateZ(0);
}
.meinprofil-links, .profil-links {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    overflow-x: hidden;
}
.meinprofil-meinedaten {
    padding-right: 30px;
}
.meinprofil-uebermich-inner .form-control {
    border: none;
}
.default-container-paddingtop {
    padding-top: 30px;
    padding-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.row.frage-ich-container {
    margin-bottom: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

// UEBER MICH 
.meinprofil-uebermich-inner {
        .form-control{
            font-size: 1.6rem;
        }
        .geschlecht {
            label {
                margin-right: .5rem;
                .icon-frau_outline, .icon-mann_outline {
                    .path1:before, .path2:before, .path3:before, .path4:before, .path5:before, .path6:before {
                        color: @dark-grey;
                }
            }
        }
    }
}
/*****************************************/
/*  END TEXTE / LEFT RIGHT MID ROW      */
/***************************************/