// DesktopStylesV3

@import "13.less";


img.img-height-responsive.avatarCrop.profile.cropperimage {
    width: 97.8% !important;
}

.endless_scroll_inner_wrap, .endless_scroll_content{
    height: auto !important;
}

.noSel.controlsBg {
    display: none;
}



.black-bg {
    background: @dark-grey !important;
}

#noQuestionModal {
    overflow: hidden;
    padding: 0 !important;
}




.left-row {
    width: 22.5%;
    .form-control {
        color: inherit;
    }
}

.middle-row {
    width: 55%;
}

.right-row {
    width: 22.5%;
    .date {
        font-family: @helvetica45 !important; 
        color: #333 !important;
    }
	.footer {
		font-size: 1.3rem !important;
		.footer-top>a>span {
			font-size: 1.8rem;
			text-shadow: .126rem .126rem .126rem #666666;
		}
		.footer-bottom>a>span {
			font-size: 1.5rem;
		}
		.footer-top>a {
			border-right: .1rem solid @dark-grey;
			padding-right: .5rem;
			text-transform: uppercase;
		}
		.footer-bottom>a {
			border-right: .1rem solid @dark-grey;
			padding-right: .5rem;
			text-transform: uppercase;
		}
	}
}

.footer a:focus, .footer a:active, .footer a.active, .footer a:hover  {
	border-right: .1rem solid @blue !important;
	color: @blue;
	text-shadow: .126rem .126rem .126rem rgba(50, 220, 205, .4);
}






.modal.fade.in .modal-dialog.noQuestionModal {
        width: 100%;
        margin: 41px auto;

}
.modal-content.noQuestionModal {
            height: auto;
            background-color: @blue;
}
.modal-header.noQuestionModal {
                height: 33.3333333%;
                border: none;
                text-align: center;
            }
.modal.fade.in .modal-dialog .modal-content .modal-header>.col-xs-6>.icon-duck:before, .modal.fade.in .modal-dialog .modal-content .modal-header .col-md-4>.icon-duck:before {
    content: "\e61d";
    padding-right: 25px;
    padding-bottom: 25px;
    position: relative;
    font-size: 3em;
    display: inline-block;
}
.icon-duck:before {
    content: "\e61d";
}
.modal.fade.in .modal-dialog .modal-content .modal-header>.col-xs-6>.modalh1, .modal.fade.in .modal-dialog .modal-content .modal-header .col-md-4>.modalh1 {
    color: #333;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'jaapokkiregular';
    line-height: 1.25;
}
.mheader-stoerer {
    background: url(/xstorage/template/img/sys/delete.svg) no-repeat transparent;
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.mheader-stoerer span {
    font-family: 'jaapokkiregular';
    color: white;
    font-size: inherit;
    position: relative;
    top: 27%;
    text-transform: uppercase;
    line-height: 0;
}


button.cropImg {
    border: 1px solid #fff;
    border-radius: 4px;
    background: #fff;
    color: #333;
    font-weight: bold;
}

// .modal.fade.in .modal-dialog .modal-content {
//     height: auto;
//     background-color: #04e0d7;
// }
// h4.modal-title{
//     font-weight: bold;
//     text-transform: uppercase;
//     font-family: HelveticaNeueW01-55Roma;
// }
.row.start-overlay {
    background-color: @dark-grey;
}

h1 {
	color: @blue;
	font-family: @japoki;
    // font-family: @helvetica65;
	font-size: 5rem;
	text-transform: none;
}
.input-icon .icon-Map {
    font-size: 20px;
    margin-top: -1.1rem;
    right: .5rem;
}
.start-overlay {
	h1 {
        color: @blue;
        font-family: @japoki;
        font-size: 5rem;
        text-align: center;
        line-height: 1;
        letter-spacing: -0.099rem;
        padding: 2rem 1rem;
	}
    .tight {
        letter-spacing: -.7rem;
        padding-right: .5rem;
    }
}

.worumgehts {
	h1 {
		font-size: 5rem;
		margin: 1.5rem 0 0 0;
		text-align: center;
	}
	h2 {
	    text-align: center;
	    margin-top: 2.5rem !important;
	}
}
.impressum {
	h1 {
		font-size: 5rem;
		margin: 0;
		text-align: left;
	}
}
h2 {
	color: @blue !important;
	font-family: @helvetica !important;
	font-size: 2.7rem !important;
	letter-spacing: inherit !important;
	margin-top: 4rem !important;
	text-transform: uppercase !important;
}
.start-overlay {
    h2 {
        text-align: center !important;
        font-weight: bold;
        letter-spacing: 0.1rem !important;
    }
}
.search-start{
	h2.find {
    	color: #000 !important;
    	font-family: @helvetica !important;
    	font-size: 2.7rem !important;
    	font-weight: bold !important;
    	letter-spacing: inherit !important;
    	margin-top: 5rem !important;
    	text-align: left !important;
    	text-transform: uppercase !important;
    	
	}
}
.anmelden-inner {
    h2 {
        font-size: 2.3rem !important;
        margin: 0 !important;
    }
    input.form-control {
        color: #333;
    }
    
}
.register-fragen {
    .row {
        margin-left: 1.5rem;
        h2 {
            font-weight: bold;
            text-transform: none !important;
            letter-spacing: 0.1rem!important;
            margin-bottom: 2rem;
            margin-top: 2rem !important;
        }
    }
}


h3, h3.headline {
	color: @blue;
	font-family: @japoki;
	font-size: 2.7rem;
}
h3.jaapokk {
	font-family: @japoki;
	font-size: 2.7rem !important;
	text-align: left;
}
#blog-page, .blog-page {
    h3 {
        font-family: @helvetica65;
	    font-size: 2.7rem !important;
	    text-align: left;
    }
    .date {
        color: #fff;
    }
}
.blog {
	h3 {
		font-family: @helvetica65;
		font-size: 1.6rem !important;
	}
}
h4 {
	font-size: 1.9rem;
	letter-spacing: -.025rem;
}

.col-xs-10.col-xs-offset-1 {
    .button.start-button {
        text-align: center;
        margin: 0 auto 2rem auto;
    }
}

.einleitungstext {
    a {
        color: inherit !important;
        text-decoration: none !important;
    }
}

.button.start-button{
    color: #fff !important;
    border-radius: .4rem;
    text-shadow: 1px 1px 1px @dark-grey;
    font-size: 2rem;
}
.button.start-button
{
    font-family:@helvetica65;
    font-weight: normal;

    width: 185px;
    .font-size(14);
    
    &:hover{
        color: #333 !important;
        text-shadow: none !important;
        text-decoration: none;
    }
    
    &:active,
    &:focus,
    {
        text-decoration: none;
        color: #ffffff;
    }

    &.start-button-wie
    {
        width: 250px;
        text-transform: none;
    }

    @media @lg
    {
        width: 215px;
        .font-size(17);

        &.start-button-wie
        {
            width: 280px;
        }
    }

    @media @xl{
         width: 265px;
        .font-size(20);

        &.start-button-wie
        {
            width: 310px;
        }
    }

    @media @xxl{
         width: 300px;
        .font-size(22);

        &.start-button-wie
        {
            width: 340px;
        }
    }

    @media @xxxl{
        width: 360px;
        font-size: 2.1rem;
        &.start-button-wie
        {
            width: 400px;
        }
    }
}









.chatcontacts input {
    color: inherit;
}

#EmailConfirmModal {
    padding-left: 0;
}

label#cost{
    margin-bottom: 1.5rem;
}
.header-wrapper  {
    color: @blue !important;
}

p.start-text {
	color: #fff;
	font-family: @helvetica45;
	font-size: 1.8rem;
    margin: 3.5rem 0 4rem 0;
    text-align: center;
	text-transform: none;
}
p.start-aussagen {
	color: #fff;
	font-family: @helvetica45;
	font-size: 1.5rem;
}

.start-overlay.start-meinungen.start-meinungen-abstand {
    padding-top: 2rem;
}

.col-xs-2 {
	p.start-aussagen {
		font-size: 1.4rem;
		letter-spacing: .03rem;
	}
}
.faq-text.impressum {
	margin-bottom: 5rem;
	padding-left: 0;
}
.faq-container {
	margin: 3rem auto;
}
.worumgehts.default-container-padding {
	padding: 3rem;
}
.impressum.default-container-padding {
	padding: 3rem;
}
.row {
	margin: 0 -2.2rem 0 -0.75rem;
	
	.start-meinungen-abstand {
		margin: 0;
	    padding-top: 1.5rem;
	}
}
.row.start-meinungen-abstand {
    &:first-of-type {
        padding-top: 0;
    }
}
div.row {
	&:first-of-type {
		margin-top: 0;
	}
	&:last-of-type {
		margin-top: 0;
	}
}




.register-fragen {
    background: @dark-grey;
    font-size: 1.6rem;
    .row {
        div[class*="col-"] {
		    label {
		        color: #fff;
				text-transform: none;
				font-weight: normal;
				font-size: 1.6rem;
			}
		}
    }
}
input[type=checkbox] {
    margin: 0.6rem 0.6rem 0;
}
.register-inner {
    .form-group {
        margin-top: 1.5rem;
    }
}
.form-control {
	font-size: 1.6rem;
	font-family: @helvetica45;
	color: #fff;
	border: 1px solid #fff;
}
.small {
    color: #fff;
    font-size: 1.2rem;
}
.register-inner {
    margin-right: 9rem;
}











.picture-row {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
}
.picture-col {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
    transform: translateZ(0);
}
.meinprofil-links, .profil-links {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    overflow-x: hidden;
}
.meinprofil-meinedaten {
    padding-right: 30px;
}
.meinprofil-uebermich-inner .form-control {
    border: none;
}
.default-container-paddingtop {
    padding-top: 30px !important;
    padding-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.row.frage-ich-container {
    margin-bottom: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}



.meinprofil-uebermich-inner {
        .form-control{
            font-size: 1.6rem;
        }
        .geschlecht {
            label {
                margin-right: .5rem;
                .icon-frau_outline, .icon-mann_outline {
                    .path1:before, .path2:before, .path3:before, .path4:before, .path5:before, .path6:before {
                        color: @dark-grey;
                }
            }
        }
    }
}



.register .register-inner {
    margin-right: 1rem;
    h1.white-heading {
        line-height: 4rem;
        margin-bottom: 3rem;
    }
}
.register-inner > .row {
    margin: initial !important;
}
.register-inner input#feuser_email {
    color: inherit;
}
form#reset-password input {
    color: inherit;
}
.searchlist {
    span#toggle-favourite, span#toggle-block {
        display: none;
    }
}
.searchlist .img-wrapper .overlay-bg .overlay .infos {
    font-size: 6rem;
    margin: 1.5rem 0 0 0;
}
.searchlist .img-wrapper .overlay-bg .overlay .infos .name{
    margin: 5px 0 0 0;
}



@media screen and (max-width: 1691px) {
	.meinprofil-erklaerung li a {
		display: inline-block !important;
    line-height: 1.5 !important;
    vertical-align: text-top !important;
	}
}

@media screen and (min-width: 1920px) {
    .all-rows-container-top {
        max-width: 3840px;
    }
    
    .einleitungstext a {
        display: inherit;
    }
    
    .search-start h2.find {
        max-width: 444px;
    }
}
@media screen and (max-width: 1200px){
    .searchform, .chatcontacts {
        h1, .looklikeh1 {
            .font-size(50);
        }
    }
}

.icon-rel.icon-minus-rel:after {
    content: '-';
    top: -16px;
    position: relative;
    left: 0;
}
.upload-image-modal.modal{
    position: inherit;
}
.upload-image-modal .modal-dialog .modal-body {
    // padding: 30px 20px 25px 20px;
    // padding: none;
}
.upload-image-modal.modal.fade.in .modal-dialog {
    width: 600px;
    height: 700px;
    background: #04e0d7;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
}

// .cropImg {
//     width: 100%;
//     height: auto;
// }
// .noSel.smooth_zoom_preloader {
//     left: 4px;
// }
button.cropImg:hover {
    background: rgb(105,121,132);
    border-radius: 4px;
    padding: 6px 12px;
}
.upload-image-modal.modal.fade.in .modal-dialog {
    // width: 100%;
    height: auto;
    background: #04e0d7;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
}

.upload-image-modal .modal-dialog .add-image-crop-area {
    height: 600px !important;
    position: relative;
    left: 0;
    bottom: 0;
}

.meinprofil-images-container {
    display: none;
}

.wg-test-collapse .link-zu-wgtest {
    color: #fff;
    font-weight: 500;
    font-family: @helvetica47CN;
    letter-spacing: .056rem;
    
    &:hover {
        color: #333;
    }
}


div#collapseChangePwd {
    padding: 0 2.1vw;
}
#changePwd, #changeMail {
    margin: 20px 0px 30px 0;
    border: 4px solid #fff;
    padding: 20px 20px 40px 20px;
    border-radius: 6px;
    box-shadow: 0 0 0.65rem #04e0d7;
}
.btn.btn-primary.btn-block {
    font-size: 1.8rem;
}
.meinprofil-options .meinprofil-meinkonto-collapse {
    padding-right: 5vw;
}

#oldPasswd-error, #newPasswd-error, #newPasswdConfirm-error {
    display: none;
    font-family: 'HelveticaNeueW01-ThinCn_673383';
    background-color: #fff;
    border: 1px solid #f00;
    margin-top: 1px;
    padding: 5px;
    color: #f00 !important;
    text-transform: none;
    letter-spacing: .1rem;
}

#changePasswd-success{
    display: none;
    font-family: 'HelveticaNeueW01-ThinCn_673383';
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    margin-top: 1px;
    padding: 5px;
    color: #fff !important;
    text-transform: none;
    letter-spacing: .1rem;
}

#changePwd > .alert.alert-danger, .alert.alert.success  {
    margin-top: -15px;
}















