@import "15.less";

header {
    padding-bottom: 4.2rem;
}
.footer .footer-inner {
    padding: .7rem 1rem;
}

.profil-room {
    a[href*="/anmelden"] {
        position: fixed;
        z-index: 3;
        bottom: 90px;
        padding: 1.5rem;
        left: 5%;
        font-family: @helvetica65;
        font-weight: normal;
        font-size: 1.6rem;
    }	
    a[href*="/wg-zimmer-finden"], a[href*="/neuen-mitbewohner-finden"] {
        position: fixed;
        z-index: 3;
        bottom: 90px;
        padding: 1.5rem;
        right: 5%;
        font-family: @helvetica65;
        font-weight: normal;
        font-size: 1.6rem;
    }
    a {
        &:hover {
            color: #000;
        }
    }
}

@media screen and (max-width: 340px) {
    .profil-room {
        a[href*="/anmelden"] {
            padding: 1rem;
        }
            
        a[href*="/wg-zimmer-finden"], a[href*="/neuen-mitbewohner-finden"] {
            padding: 1rem;
        }
    }
    .middle-row > .right-logo > a > img {
        width: 150px;
    }
    nav > .main-nav {
        padding-top:0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    header > nav.right-row {
        margin-top: 1.2rem !important;
        margin-left: 2rem;
    }
    
}

label {
    font-size: 1.4rem;
}

button.start-button{
    font-size: 1.3rem; 
    font-weight: bold;
    // letter-spacing: 0.025rem;
}

.register-fragen {
    #NACHNAME, #VORNAME, #v2_EMAIL, #v2_PASSWORT, #v2_PASSWORT_confirm {
        max-width: 380px;
    }
}
.register-inner .row div[class*="col-"] label {
    text-transform: none;
    font-weight: normal;
    font-size: 1.6rem;
    color: inherit;
}

.register-inner .geschlecht input[type=radio] {
    display: none;
}
.radio [class*=icon-] {
    font-size: 36px;
}
.register-inner .geschlecht label .icon-mann_outline {
    display: inline-block;
}

.register-inner .geschlecht label span {
    font-size: 4.5rem;
    vertical-align: middle;
}

.register-inner .geschlecht input[type=radio] {
    display: none;
}
.register-inner .geschlecht label .icon-frau {
    display: none;
}
.register-inner .geschlecht label .icon-frau_outline {
    display: inline-block;
}
.register-inner .geschlecht label .icon-mann {
    display: none;
}
.register-inner .geschlecht label .icon-mann_outline {
    display: inline-block;
}



.icon-frau_outline .path1:before {
	content: "\e629";
	color: rgb(11, 223, 214);
}
.icon-frau_outline .path2:before {
	content: "\e62a";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau_outline .path3:before {
	content: "\e62b";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau_outline .path4:before {
	content: "\e62c";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau_outline .path5:before {
	content: "\e62d";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau_outline .path6:before {
	content: "\e62e";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-mann .path1:before {
	content: "\e637";
	color: rgb(11, 223, 214);
}
.icon-mann .path2:before {
	content: "\e638";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-mann_outline .path1:before {
	content: "\e63a";
	color: rgb(11, 223, 214);
}
.icon-mann_outline .path2:before {
	content: "\e63b";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau .path1:before {
	content: "\e622";
	color: rgb(11, 223, 214);
}
.icon-frau .path2:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau .path3:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau .path4:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau .path5:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}
.icon-frau .path6:before {
	content: "\e627";
	margin-left: -1em;
	color: rgb(35, 31, 32);
}



//////////////////////////////////////////////////////////// FOOTER BURGER MENU
.glyphicon {
    top: 0;
    right: 4rem;
    line-height: 1.3rem;
    font-size: 2.2rem;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}
.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}
.navbar-nav {
    font-size: 1.6rem;
    padding: 0;
    margin: 0 -1.4rem;
    background-color: #000;
}
.nav > li {
    margin-bottom: 1rem;
}
.navbar-inverse {
    border: none;
    background-color: inherit;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #3f4f62;
    width: 1.8rem;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #000;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: @blue;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 8px 6px;
    margin-top: -3px;
    margin-right: 30px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 4px;
}
.navbar-inverse .navbar-nav>.active>a {
    color: @blue;
    background-color: #000;
    border: 1px solid @blue;
    width: 93%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    box-sizing: content-box;
    box-shadow: none;
    border: none;
    position: absolute;
    bottom: 56px;
    right: 5px;
    width: 105%;
    padding: 0 10px;
}