/**
* Paytone One
*/
@font-face {
    font-family: 'PaytoneOne';
    src: url(/xstorage/template/redesign/fonts/PaytoneOne.ttf);
}

/**
* Nunito Sans
*/
@font-face {
    font-family: 'NunitoSans-black';
    src: url(/xstorage/template/redesign/fonts/NunitoSans-Black.ttf);
}
@font-face {
    font-family: 'NunitoSans-regular';
    src: url(/xstorage/template/redesign/fonts/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: 'NunitoSans-light';
    src: url(/xstorage/template/redesign/fonts/NunitoSans-Light.ttf);
}
@font-face {
    font-family: 'NunitoSans-bold';
    src: url(/xstorage/template/redesign/fonts/NunitoSans-Bold.ttf);
}
@font-face {
    font-family: 'NunitoSans-extrabold';
    src: url(/xstorage/template/redesign/fonts/NunitoSans-ExtraBold.ttf);
}
