/**
 ************ FONTS
**/
@paytoneone: 'PaytoneOne';
@nunitoregular: 'NunitoSans-regular';
@nunitoblack: 'NunitoSans-black';
@nunitolight: 'NunitoSans-light';
@nunitobold: 'NunitoSans-bold';
@nunitoextrabold: 'NunitoSans-extrabold';
@nunitoitalic: 'NunitoSans-italic';

/**
 ************ HEADLINES
**/
h1 { font-family: @paytoneone, sans-serif; font-size: 54px; }
h2 { font-family: @paytoneone, sans-serif; font-size: 38px; }
h3 { font-family: @paytoneone, sans-serif; font-size: 28px; }
h4 { font-family: @nunitoblack, sans-serif; font-size: 21px; }
h5 { font-family: @nunitoblack, sans-serif; font-size: 14px; }
h6 { font-family: @nunitoregular, sans-serif; font-size: 14px; }


    
/**
 * TEXTE
*/
p { 
    font-family: @nunitolight;
    font-size: 14px; 
}

/**
 ************* COLORS
**/
@turkis: #04e0d7;
@darkgray: #646464;
@lightgray: #efefef;

/**
 ************* FLEXBOX LAYOUT
**/
.flex(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.mpwg-color { 
    color: @turkis; 
}


