/**
 ************ FONTS
**/
@paytoneone: 'PaytoneOne';
@nunitoregular: 'NunitoSans-regular';
@nunitoblack: 'NunitoSans-black';
@nunitolight: 'NunitoSans-light';
@nunitobold: 'NunitoSans-bold';
@nunitoextrabold: 'NunitoSans-extrabold';
@nunitoitalic: 'NunitoSans-italic';

/**
 ************ HEADLINES
**/
h1 { font-family: @paytoneone, sans-serif; font-size: 54px;  font-size: 5.4em; /*font-size: 2.8125vw;*/ }
h2 { font-family: @paytoneone, sans-serif; font-size: 38px;  font-size: 3.8em; /*font-size: 1.979166666666667vw*/; }
h3 { font-family: @paytoneone, sans-serif; font-size: 28px;  font-size: 2.8em; }
h4 { font-family: @nunitoblack, sans-serif; font-size: 21px; font-size: 2.1em; }
h5 { font-family: @nunitoblack, sans-serif; font-size: 14px; font-size: 1.4em; }
h6 { font-family: @nunitoregular, sans-serif; font-size: 14px; font-size: 1.4em; }


    
/**
 * TEXTE
*/
p { font-family: @nunitolight; font-size: 14px; font-size: 1.4em; }

/**
 ************* COLORS
**/
@turkis: #04e0d7;
@darkgray: #646464;
@lightgray: #efefef;

/**
 ************* FLEXBOX LAYOUT
**/
.flex(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.mpwg-color { color: @turkis; }


