@import "22.less"; 

/**
* FONTS
*/
@paytoneone: 'PaytoneOne';
@nunitoregular: 'NunitoSans-regular';
@nunitoblack: 'NunitoSans-black';
@nunitolight: 'NunitoSans-light';
@nunitobold: 'NunitoSans-bold';
@nunitoextrabold: 'NunitoSans-extrabold';

/**
 * HEADLINES
*/
h1 { font-family: @paytoneone, sans-serif; font-size: 54px; font-size: 5.4rem; }
h2 { font-family: @paytoneone, sans-serif; font-size: 38px; font-size: 3.8rem; }
h3 { font-family: @paytoneone, sans-serif; font-size: 28px; font-size: 2.8rem; }
h4 { font-family: @nunitoblack, sans-serif; font-size: 21px; font-size: 2.1rem; }
h5 { font-family: @nunitoblack, sans-serif; font-size: 14px; font-size: 1.4rem; }
h6 { font-family: @nunitoregular, sans-serif; font-size: 14px; font-size: 1.4rem; }
    
    
/**
 * TEXTE
*/
p { font-family: @nunitolight; font-size: 14px; font-size: 1.4rem; }


/**
* COLORS
*/
@turkis: #04e0d7;
@darkgray: #646464;
@lightgray: #efefef;


/**
* FLEXBOX LAYOUT
*/
.flex(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}