@import "23.less"; 

.all-rows-container-top {
	position: absolute;
	width: 100%;
}

.ajax-loader {
	display: none;
}

.cookie-warning-top{
    background:@turkis;
    bottom: 0;
    color:#000;
    display: none;
    opacity:0;
    padding: 25px 60px 10px 60px;
    position: absolute;
    width:100%;
    z-index: 9999;
    /* .translate(0,-100%); */
    /* .transition(all 300ms ease); */
    
    &.active{
        /* .translate(0,0%); */
        opacity:1;
        display: block;
    }

    .text{
        float:left;
        width: calc(~"100% - 3vw");
    }
    .closing-icon{
        float:right;
        font-size: 1.3vw;
        cursor:pointer;
    }
}
