@import "22.less"; 
@import "23.less"; 
// @import "24.less";


/**
 *
 ******************* SETTINGS  ******************* 
 *
**/
html {
	font-size: 16px;
	height: 100%;
}
body {
	font-size: 62.5%; /* 1em = 10px */
	height: 100%;
	vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
	
	&.no-scroll {
	    overflow: hidden;
	}
}
*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img,
embed,
object,
video {
	max-width: 100%;
}

blockquote, blockquote .small, blockquote footer, blockquote small {
    border: none;
    color: #fff;
    padding: 0;
    margin: 10px 0;
}


::-webkit-scrollbar {
	display: none;
}


.no-gutter, .no-gutter > [class*='col-'] {
    padding-left:0;
    padding-right:0;
}
.no-margin, .no-margin > [class*='col-'] {
    margin-left:0;
    margin-right:0;
}
.no-margin-left {
    margin-left: 0 !important;
}
.no-margin-right {
    margin-right: 0 !important;
}


a, a:hover, a:active, a:focus {
    outline: 0 !important;
}
a {
    font-size: 1em;
    font-family: @nunitoextrabold;
    color: white;
    
    &:hover, &:focus {
        color: #fff;
        text-decoration: underline;
    }
    
    &.footer-icon:hover{
        text-decoration: none;
    }
}

button:focus {
    outline: none;
}

.error-div {
    display: none;
}

hr {
    margin: 10px 5% 5px;
    width: 90%;
    border: 0;
    border-top: 1px solid rgb(217,217,217);
}


/**
 *
 ******************* PAGE WRAPPER & MAIN ELEMENTS  ******************* 
 *
**/
.page-wrapper {
    font-size: 1.6em;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#main-header {
	position: fixed;
	width: 100%;
	height: 3.125em;
	background-color: @turkis;
	top: 0;
	z-index: 999;
	padding: 0;
    [class*='col-'] {
        height: 3.125em;
        a {
            &:hover {
                text-decoration: none;
            }
        }
        .profile-nav {
            overflow: hidden;
            position: relative;
            margin-top: 10px;
            .controls-wrapper{
                float:left;
                // margin-left: 15.653684210526315%;
                .text{
                    font-size: .9375em;
                    vertical-align:middle;
                    display:inline-block;
                    font-family: @nunitoblack;
                    padding-left: 5px;
                }
            }
            .profile-image{
                .height(30);
                .width(30);
            }
            .main-item-wrapper{
                .margin-right(15);
                padding: 0.29vw 0.6vw;
                &:last-of-type {
                    margin-right: 0;
                }
                &.active{
                    color:#000!important;
                }
                .main-item{
                    display:inline-block;
                    vertical-align: middle;
                }
            }
            .logo-legend-section{
                text-align:right;
                .item{
                    display: inline-block;
                    margin-left: 5px;
                    font-size: 15px;
                    & > span{
                        vertical-align:middle;
                    }
                    &.active{
                        a{
                            color:#000;
                        }
                        span{
                            &:hover{
                                color:#000;
                            }
                        }
                    }
                    span {
                        .font-size(15);
                        text-transform: uppercase;
                        &[class*="icon-"], &[class^="icon-"]{
                            vertical-align: middle;
                        }
                    }
                }
            }
            
        }
    }
    
    .header-logo {
        cursor: pointer;
        
        .icon-duck {
            width: 30px;
            margin: 10px 0;
        }
        .icon-font {
            width: 166px;
            margin: 10px 0;
        }
        
        > a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    .btn.btn-default.btn-login, .btn.btn-default.btn-logout {
        width: 90px;
        font-family: @nunitobold;
        font-size: .75em;
        line-height: 1;
        color: @darkgray;
        border-color: transparent;
        margin-right: 10px;
        margin-top: 10px;
        vertical-align: baseline;
        
        &:hover {
        	text-decoration: none;
        	background-color: @lightgray;
        }
    }
    
    #anmelden-inner {
        width: 100%;
        position: absolute;
        right: 0px;
        border: 1px solid transparent;
        background-color: #fff;
        .box-shadow(@darkgray 0 0 10px);
        border-radius: 4px;
        padding: 20px 30px 35px;
        margin-top: 16px;
        
        h3 {
            margin: 0;
        }
        #form-login {
            margin-top: 16px;
        }
    }
    
    .nav-p-lang {
        .navlinks {
            display: inline-block;
            font-family: @nunitolight;
            font-size: 0.9375em;
            margin-top: 15px;
            color: #fff;
            
            &.active {
                font-family: @nunitoblack;
                font-size: 1em;
            }
        }
    }
}


/**
    COOKIE WARNING
**/
.cookie-warning-top {
    background:@turkis;
    color:#333;
    width:99.5%;
    margin-left: 0.25%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 15px;
    position: absolute;
    z-index: 2;
    opacity:0;
    .border-radius(6px);
    .translate(0,-100%);
    .transition(all 300ms ease);
    
    &.active{
        .translate(0,0%);
        opacity:1;
        bottom: 5%;
        z-index: 4;
    }

    .text {
        float: left;
        width: 92%;
        padding: 0.3125em;
        line-height: 1.25em;
        font-family: @nunitoregular;
        font-weight: bold;
        font-size: .875em;
    }
    .closing-icon {
        float: right;
        font-size: 1.5em;
        font-family: @nunitolight;
        cursor: pointer;
        
        &.icon-Close:before {
            content: "X";
        }
    }
}


/**
    QUESTION MODAL 
**/
@media only screen and (max-width: 991px) {
    .modal-dialog.noQuestionModal {
        display: none;
    }
} 

#noQuestionModal {
    overflow: hidden;
    padding: 0 !important;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
    height: 10000px !important;
}
#noQuestionModal .modal-dialog.noQuestionModal {
    width: 100%;
    margin: 41px auto;
    z-index: 1040;
}

#noQuestionModal .modal-content.noQuestionModal {
    height: auto;
    background-color: @darkgray;
}
#noQuestionModal .modal-header {
    height: 33.3333333%;
    border: none;
    text-align: center;
    
    .close {
        font-size: 2.75em;
        color: #04e0d7;
        text-shadow: 0 1px 0 #fff;
        opacity: .6;

    }
    .icon-duck {
        font-size: 1.9375em;
        margin: 0 15px 0 -15px;
        color: @turkis;
    }
    
    p {
        color: @turkis;
        font-size: 1.125em;
        font-family: @nunitobold;
        line-height: 1.375em;
        margin: 10px 0;
    }
}
.modal.fade.in .modal-dialog .modal-content .modal-header>.col-xs-6>.modalh1, .modal.fade.in .modal-dialog .modal-content .modal-header .col-md-4>.modalh1 {
    color: @turkis;
    font-size: 3em;
    text-transform: uppercase;
    font-family: @nunitoextrabold;
    line-height: 1.25;
}
.mheader-stoerer {
    background: url(/xstorage/template/img/sys/delete.svg) no-repeat transparent;
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.mheader-stoerer span {
    font-family: @nunitoregular;
    color: @turkis;
    font-size: inherit;
    position: relative;
    top: 27%;
    text-transform: uppercase;
    line-height: 0;
}

button, .button {
    display: inline-block;
    font-size: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    background: @darkgray;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

button {
    outline: 0 !important;
}

/*
#noQuestionModal {
    overflow: hidden;
    padding: 0 !important;
    
    .modal-backdrop {
        height: 10000px !important;
        
        .modal-dialog.noQuestionModal {
            width: 100%;
            margin: 41px auto;
            
            .modal-content.noQuestionModal {
                height: auto;
                background-color: #04e0d7;
                
                .modal-header {
                    height: 33.3333333%;
                    border: none;
                    text-align: center;
                    
                    .mheader-stoerer {
                        background: url(/xstorage/template/img/sys/delete.svg) no-repeat transparent;
                        width: 120px;
                        height: 120px;
                        display: inline-block;
                        position: relative;
                        text-align: center;
                        
                        span {
                            font-family: 'jaapokkiregular';
                            color: white;
                            font-size: inherit;
                            position: relative;
                            top: 27%;
                            text-transform: uppercase;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    }
}
.modal.fade.in .modal-dialog .modal-content .modal-header>.col-xs-6>.modalh1, .modal.fade.in .modal-dialog .modal-content .modal-header .col-md-4>.modalh1 {
    color: #333;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'jaapokkiregular';
    line-height: 1.25;
}
.modal.fade.in .modal-dialog .modal-content .modal-header>.col-xs-6>.icon-duck:before, .modal.fade.in .modal-dialog .modal-content .modal-header .col-md-4>.icon-duck:before {
    content: "\e61d";
    padding-right: 25px;
    padding-bottom: 25px;
    position: relative;
    font-size: 3em;
    display: inline-block;
}
*/

/**
    MAIN-CONTENT 
**/
#main-content {
    padding-bottom: 100px;
    padding-top: 3.125em;
    position: absolute;
    width: 100%;
	
	/**
	    FRONTPAGE 
	**/
	.carousel {
        position: relative;
        max-height: 600px;
        overflow: hidden;
        
        .carousel-indicators {
            height: 15%;
            left: 95%;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            width: 1%;
            
            li {
                display: block;
                width: 0.625em;
                height: 0.625em;
                text-indent: -999px;
                cursor: pointer;
                background-color: #fff;
                border: 0.1em solid @turkis;
                border-radius: 1em;
                
                &:first-child {
                    margin-bottom: 1.2em;
                }
                &:last-child {
                    margin-top: 1.2em;
                }
            }
            
            .active {
                width: 0.75em;
                height: 0.75em;
                background-color: @turkis;
            }
        }

        .carousel-inner {
            padding: 0;
            
            .carousel-caption {
                top: 0px;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                padding: 0 !important;    
                
                .header-icon-duck {
                    margin-top: 5%;
                    width: 2.75em;
                }
                h1.text-uppercase {
                    color: #fff;
                    font-size: 3em;
                    margin: 10px 0;
                }
                blockquote {
                    margin: 10px 0 20px;
                    
                    .hl-caption {
                        font-family: @nunitolight;
                        font-size: 1.2em;
                    }
                }
                
                
                .btn-wrapper {
                    position: absolute;
                    width: 100%;
                    
                    .btn-group-register {
                    	display: -webkit-inline-flex;
                     	display: inline-flex;
                     	cursor: pointer;
                        margin: 45px 0 0;
                        
                        .btn-icon-wgzimmer, .btn-icon-mitbewohner, .btn-icon-wgsuchtwg {
                            width: 40%;
                        }
                    }
                }
                .circle {
                    background-color: @turkis;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
	                float: left;
                    height: 140px;
                    margin: 0 1.5em;
                    opacity: .85;
                    position: relative;
                    width: 140px;
                    
                    img {
                        padding-top: 0;
                        margin: 11.62790698% 0 7.813953% 0;
                    }
                    
                    &:hover {
                	    transform: scale(1.05);
                	    opacity: 1;
                    }
                    .caption-text {
                        width: 100%;
                        position: absolute;
                        font-size: 0.875em;
                        line-height: 1.2857142857142858em;
                        font-family: @nunitoblack;
                        text-transform: uppercase;
                    }   
                }
            }
            .item {
                filter: brightness(65%);
                max-height: 600px;
                width: 100%;
                
                img {
                    width: 100%;
                }
            }
        }
    }
    
    #so-einfach-gehts {
        position: relative;
        margin: 3em auto 6em auto;
    }
    
    #latest-news {
        background-color: @turkis;
    
        a:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    
    #und-los-gehts {
    	margin: 5.4em auto;
    	
    	h2 {
        	font-size: 24px;
        	color: rgb(100,100,100);
        	border-top: 2px solid @darkgray;
        	padding-top: 17rem;
    	}
    	
    	h1.los-gehts {
            margin-bottom: 25px;
    	}
    	.fp-text.los-gehts {
    	    width: 75%;
    	}
    }
    /* END FRONTPAGE */
    
    
    
/**
  *     REGISTRIERUNGSPAGES 
  */
    .register-fragen {
        
        height: 100vh;
        
        
        .register-wunsch-wg, .register-fragebogen, .register-konto {
            border-radius: 2px;
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));
            margin: 50px 0;
            padding: 20px 25px 50px 25px;
            
            h3 {
                line-height: 1.1785714285714286em;
                // text-align: center;
            }
            h5 {
                margin: 0px 0 10px 0px;
                text-transform: uppercase;
                line-height: 1.1428571428571428em;
            }
            h6 {
                
            }
        }

        .register-konto {   
            margin-bottom: 200px;
            
            h6 {
                margin-bottom: 25px;
            }
        }
        
        .accordion-inner {
            h5 {
                margin: 0px 0 10px 0px;
            }
            
            #wg-zimmer-finden > .form-group:last-of-type {
                margin-bottom: 30px;
            }
            
            .radio-inline h5 {
                margin: 5px 0 0 0;
            }    
            
        }
       
        .register-fragebogen {
            word-wrap: break-word;
        
            h3:first-of-type {
                margin: 0;
            }

            .fragen-container {
                margin: 45px 0 110px 0;
                
                .btn-default {
                    border-color: @turkis;
                    line-height: 2;
                    
                    &:hover {
                        background-color: #fff;
                    }
                }
                label.btn.btn-primary.toggle-on {
                    line-height: 2;
                }
                .toggle.btn {
                    min-height: 20px !important;
                }
                .frage-headline {
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 1.25em;
                }
                .antwort-headline {
                    font-size: 0.875em;
                    font-family: @nunitoextrabold;
                    line-height: 1.2857142857142858em;
                    text-transform: uppercase;
                }
                .text-right.antwort-left {
                    margin-right: 0;
                    padding-left:5%;
                    padding-right: 0;
                }
                .text-left.antwort-right {
                    margin-left: 0;
                    padding-right:5%;
                    padding-left: 0;
                }
                .radio.radio-inline {
                    position: relative;
                    display: inline-block;
                    font-weight: 400;
                    vertical-align: middle;
                    cursor: pointer;
                    margin: 5px 0 15px 0;
                
                    label {
                        padding: 0 25px 37px 0;
                        text-align: center;
                    }
                    input {
                        width: 30px;
                        height: 30px;
                        margin-left: 0;
                    }
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                        width: 160px;
                        height: 32px;
                        margin-top: 3px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-right: 15px;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 15px;
                    }
                    span.toggle-handle.btn.btn-default {
                        height: 30px;
                        width: 30px;
                        top: 0;
                        left: 0;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                        min-width: 59px;
                        min-height: 20px;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 4px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, 
                    .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, 
                    .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, 
                    .open>.dropdown-toggle.btn-primary:hover {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                }
            }        
        }
    }
/* END REGISTRIERUNGSPAGES */
    
    
/**
  *     IMPRESSUM, FAQ, AGB
  */
    #impressum, #agb, #faq {
        display:block;
        overflow:auto;
        
        a {
            color: @darkgray;
            font-family: @nunitobold;
            text-decoration: underline;
        }
        
        .left-row, .right-row, .middle-row {
            border-radius: 2px;
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));
            margin: 50px 0;
            padding: 20px 25px 50px 25px;
        }
        .left-row {
            .icon-duck {
                width: 15%;
                height: auto;
            }
        }
        h1 {
            margin: 0;
        }
        h3 {
            margin: 0;
            font-size: 1.3125em;
        }
        .intro-text {
            font-size: 1em;
            font-family: @nunitoregular;
            line-height: 1.5em;
            color: @turkis;
        }
        .middle-row {
            margin-bottom: 10em;
            padding-left: 2.7940626169390046%;
            padding-right: 2.7940626169390046%;
            
            h1 {
                margin-top: 0;
            }
            h6 {
                font-size: 1.375em;
                color: @turkis;
                line-height: 1.4090909090909092em;
            }
            h7 {
                font-size: 1em;
                // line-height: 2.857142857142857em;
                line-height: 1.375em;
                color: @darkgray;
            }
            p {
                margin-bottom: 5px;
                line-height: 1.4285714285714286em;
            }
        }
        
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            vertical-align: baseline;
            border: none;
        }
        
        .table {
            tbody {
                tr > td:first-child {
                    width: 25%;
                }
            }
        }
        
    }
    /* END IMPRESSUMG, FAQ, AGB */

    
/**
  *     PAGES LOGGEDIN
  */
  
    .searchform {
        .form-group {
            margin-bottom: 0px;
            margin-top: 24px;
        }
    }
  
    /* SUCHE */
    #search-page {
        margin-top: 35px;
        
        .form-group {
            .legend {
                color: @turkis;
            }
        }
        .shadow-box-left {
            width: 80%;
            margin: 0 0 0 17%;
            padding: 1px 25px 25px 25px;
            .border-radius(2px);
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));

            .radio {
                input {
                    display: none;
                }

                label {
                    padding-left: 0;
                    
                    .suche-cat.btn-icons-reg {
                        display: inline-block;
                        background-color: @lightgray;
                        color: #999;
                        margin: 10px 5px;
                        padding: 5px 10px;
                        .border-radius(6px);
                        .box-shadow(0.126em 0.126em 0.126em rgba(170, 170, 170, 0.6));
                    }
                }
                label input#typ-suche,
                label input#typ-biete {
                    &.active + span {
                        background-color: @turkis;
                        color: #fff;
                    }
                }
            }
        }
        
        .shadow-box-center {
            width: 100%;
            margin: 0;
            .border-radius(2px);
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));

                
                .searchlist {
                    .img-wrapper {
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        .transition(all 300ms ease);
                        
                        &:before{
                            content: "";
                            display: block;
                            padding-top: 106.5%;
                        }
                        .inner-wrapper{
                            height:100%;
                            width:100%;
                            position:absolute;
                            top:50%;
                            left:50%;
                            .translate(-50%, -50%);
                            
                            img{
                                transform: translateZ(0);
                                -moz-transform: translateZ(0);
                                -webkit-transform: translateZ(0);
                            }
                        }
                        .overlay-bg {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100%;
                            background: rgba(0,0,0,0.5);
                            .transition(all 300ms ease);
                            opacity: 0;
                            
                            &:hover, &.active {
                                .overlay-bg{
                                    opacity: 1;
                                    .overlay{
                                        transform: scale(1);
                                        opacity: 1;
                                    }
                                }   
                            }
                        }
                    }
                }
        }
        .shadow-box-right {
            width: 80%;
            margin: 0 25% 0 0;
            padding: 0 25px 0 25px;
            .border-radius(2px);
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));
        }
        
        .chatcontacts {
            .shadow-box-right {
                margin-bottom: 35px;
                margin-left: 3%;
                
                h1 {
                    font-size: 3em;
                }
                
                .aside-right-chat {
                    min-height: 100px;
                    padding-top: 24px;
                    
                    h1 { 
                        margin:-4px 0 10px 0;
                        width: 70%;
                        float: left;
                        
                        &.chat {
                            background: transparent;
                            padding: 0;
                        }
                        
                    }
                    svg#chat-icon-arrow-down {
                        height: 48px;
                        .rotate(180deg);
                    }
                    .form-group {
                        margin-bottom: 0;
                    }
                }
                
                .aside-right-map {
                    min-height: 100px;
                    padding-top: 24px;

                    h1 { 
                        margin:-4px 0 10px 0;
                        width: 70%;
                        float: left;
                    }
                    svg#map-icon-arrow-down {
                        height: 48px;
                        .rotate(180deg);
                    }

                    .form-group {
                        margin-bottom: 0;
                    }
                }
                
                .input-icon .icon-Lupe {
                    &:before {
                        position: absolute;
                        content: "\e636";
                        top: -44px;
                        color: #04e0d7;
                        font-weight: bold;
                    }
                }
                
                #chat-input-search {
                    padding-bottom: 15px;
                    
                    .contacts-wrapper {
                        margin: 20px 0;
                        
                        .contact {
                            margin: 5px 0px;
                        }
                    }
                }
                .searchform {
                    padding-bottom: 25px;
                    .map {
                        width: 100%;
                        height: 300px;
                        
                    }
                }
            }
        }
    }
    .icon-Map.js-autocomplete-duck {
        position: relative;
        font-size: 27px;
        bottom: 48px;
        left: 88%;
    }
    .icon-Map .path1:before {
        content: "\e63c";
        color: @turkis !important; 
    }
    .icon-Map .path2:before {
        content: "\e63d";
        margin-left: -1em;
        color: #fff !important;
    }
        
    .icon-arrow-up-down-map, .icon-arrow-up-down-chat {
        border: none;
        background-color: transparent;
        position: relative;
        padding: 0;
        top: 0;
        left: 0;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    
    /* END SUCHE */
    
/* END PAGES LOGGEDIN */
            
    .picture-col {
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 4px;
        transform: translateZ(0);
    }
    
}

/* END MAIN-CONTENT */
.input-icon [class*=icon] {
    position: relative;
    left: 90%;
    display: table;
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(105,121,135,0.1);
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}




/**
  *     MAIN FOOTER
  */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: @darkgray;
    opacity: .975;
    z-index: 3;

    #main-footer {
        padding: 10px 7.656250000000001%;
        
        .footer-links {
            position: relative;
            
            background: url(/xstorage/template/img/redesign/wsf-icons.png) no-repeat;
            background-position: 100% 50%;
            background-size: 273px 37.53px;
            
            .inner-link {
                position: relative;
            	font-size: 0.875em;
                line-height: 2.125em;//29.75px;
            	font-family: @nunitoextrabold;
            	text-decoration: none;
            	margin: 0 5px;
                
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: @turkis;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                }
                &:hover {
                    color: @turkis;
                    background-color: transparent;
                    font-weight: bold;
                }
                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
            .inner-link-hr {
                color: #fff;
                font-size: 0.875em;
                font-family: @nunitoextrabold;
            }
        }

        .footer-icon-fb {
            width: 40px;
            margin-right: 1em;
            vertical-align: text-top;
        }
    }
    .footer-text {
        font-family: @nunitoregular;
        font-size: .875em;
        color: #fff;
        margin-left: 63px;
        margin-top: -10px;
    }
}
/* END MAIN FOOTER */    





    
#form-login-submit, #fb-login-submit, #mail-reg-submit, #fb-reg-submit, #fragebogen-save {
    width: 100%; 
    height: 54px; 
    margin: 10px 0; 
    font-size: 0.875em;
    line-height: 1.4285714285714286em;
    font-family: @nunitoextrabold; 
    color: #fff; 
    background-color: @turkis; 
    border: none; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; border-radius: 4px; 
    .box-shadow(0.5px 0.5px 1px 1px rgba(100,100,100,0.15)); 
    
    span.fb-f {
        text-transform: none;
        font-size: 1.7142857142857142em;
        font-family: @nunitoblack;
        vertical-align: sub;
    }
        
    &:hover {
        color: @darkgray; 
    } 
}
#fragebogen-save {
    display: none;
    width: 70%;
    height: auto;
    margin: 39px 0 15px 0;
}

.label-use-cookie {
    font-family: @nunitolight;
}

label {
    font-size: .875em;
    font-family: @nunitoextrabold;
}

.label-use-cookie {
    font-family: @nunitolight;
    font-size: .875em;
    font-weight: normal;
    vertical-align: middle;
}

.big-text-btn {
	text-align: center;
	position: relative;
    bottom: 60px;
    cursor: pointer;
}
a > .big-text-btn {
    color: #333;
}

.big-text-btn > .btn-icon-wgsuchtwg,
.big-text-btn > .btn-icon-mitbewohner,
.big-text-btn > .btn-icon-wgzimmer {
	position: relative;
    width: 7rem;
    top: 15rem;
}
.btn-icons-reg {
    font-family: @nunitoblack;
    font-size: 14px; 
	background-color: @darkgray;
    color: #fff;
    line-height: 2;
    border: none;
    background-color: rgb(100, 100, 100);
    .box-shadow(0.126em 0.126em 0.126em @darkgray);
}


.img-logo {
    vertical-align: baseline;
}




/**
 *
 ******************* SPECIAL FONTS COLOR STYLES  ******************* 
 *
**/
h1.mpwg-color.text-center {
    font-size: 3.375em;
    line-height: 1.1481851851851852em;
}
h4.nunito-light.text-uppercase.text-center {
    font-size: 1.3125em;
    line-height: 1.8333333333333333em;
}
.nunito-light {
	font-family: @nunitolight;
}
.fp-text {
    font-size: 1.125em;
    line-height: 1.7222222222222223em;
    width: 100%;
    margin: 0 auto;
}
.fp-text-small {
	font-size: 0.875em;
	line-height: 1.5714285714285714em;
	margin: 30px 25px 50px 25px;
}

a > h1 { font-size: 3.6em; }
.latest-news { margin-left: 30.10338362031892%; text-decoration: underline; color: #fff; }

label {
    font-size: .875em;
    font-family: @nunitoextrabold;
}
.forgotpw { 
    color: @turkis;
    font-size: .875em;
    font-family: @nunitolight;
    margin: 0;
    
    &:hover {
        color: @turkis;
        text-decoration: underline;
    }
}

    
.antwort-value {
    text-align: center;
}

.radio.radio-inline {
    padding-left: 0px;
}

.form-control:focus {
    border-color: @turkis;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(4, 224, 215,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(4, 224, 215,.6);
}
input.form-control {
    font-family: @nunitobold;
    font-size: 0.9375em;
    color: @turkis;
    background-color: rgba(239, 239, 239, 0.59);
    margin-bottom: 1em;
    padding: 0 5px;
    border: none;
}

#mobile-register-btn {
    display: none;
}

.errorNotification {
    margin: 15px 0 -15px 0;
    font-family: @nunitolight;
    color: red;
    b {
        font-family: @nunitoextrabold;
    }
}

#oldPasswd-error, #newPasswd-error, #newPasswdConfirm-error, #email-error-1, #email-error-2, #email-error-3, #MIETE_error, #ZEITRAUM_VON_error, #NACHNAME_error,
#VORNAME_error, #v2_PASSWORT_confirm_error, #GESCHLECHT_error, #MIETEMAX_error, .error-div.checkbox-error , #agb-accept_error
{
    display: none;
    font-family: 'HelveticaNeueW01-ThinCn_673383';
    background-color: #fff;
    border: 1px solid #f00;
    margin-top: 1px;
    padding: 5px;
    color: #f00 !important;
    text-transform: none;
    letter-spacing: .1rem;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

#changePasswd-success, #changeMail-success{
    display: none;
    font-family: 'HelveticaNeueW01-ThinCn_673383';
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    margin-top: 1px;
    padding: 5px;
    color: #fff !important;
    text-transform: none;
    letter-spacing: .1rem;
}

#changePwd > .alert.alert-danger, .alert.alert.success  {
    margin-top: -15px;
}


// CHAT | ui-slider preis
@import "25.less";




