@media only screen and (max-width: 30em) {
    
    h3 { font-size: 1.3125em;  }
    h5, #main-content .register-fragen .register-fragebogen .antwort-headline {
        font-size: .875em;
        margin-bottom: 3px;
        line-height: 1.1em;
    } 
        
    p { font-size: 0.875em; }
    
    // hr { margin: 10px 0; } 
    
    #anmelden-inner {
        #form-login-submit, #fb-login-submit, #mail-reg-submit, #fb-reg-submit {
            margin: 0;
        }
        h5 {
            margin: 0;
        }
    }
    #form-login-submit, #fb-login-submit, #mail-reg-submit, #fb-reg-submit {
        
        height: 45px;
        margin: 10px 0;
        font-size: .75em;
        line-height: 1.42857143em;
        
        border: none;
        // -webkit-border-radius: 4px;
        // -moz-border-radius: 4px;
        // border-radius: 4px;
        // .box-shadow(0.5px 0.5px 1px 1px rgba(100,100,100,0.15));
    }
    
    #main-header #anmelden-inner {
        width: 150%;
        padding: 15px 30px 25px 30px;
        margin-right: 10px;
    }
    #main-header .header-logo img.icon-duck {
        width: 22px;
        margin: 14px 0;
    }
    #main-header .header-logo img.icon-font {
        width: 130px;
        margin: 14px 0;
    }
    #main-header .btn.btn-default.btn-login {
    	width: 65px;
        padding: 7px 10px;
        margin-top: 0;
        margin-right: 5px;
    }
    #main-header .nav-p-lang .navlinks {
        margin-top: 17.5px;
    }
    #main-header #anmelden-inner {
        width: 150%;
        padding: 10px 30px;
        margin-right: 10px;
    }
    #main-content .carousel .carousel-inner .carousel-caption {
        padding: 6% 0;
    }
    #main-content .carousel .carousel-inner .carousel-caption .btn-group-register {
        display: none;
    }
    #main-content .carousel .carousel-indicators {
        top: 30%;
    }
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 6.72973%;
    }
    blockquote {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 0.8em;
    }
    #main-content #frontpage-slider h1 {
        margin: 5px 30px 0 30px;
        font-size: 1.5em !important;
    }
    #main-header .header-logo {
        margin-left: 3px;
    }
    #main-header .header-logo img.icon-duck {
        width: 22px;
        margin: 14px 0;
    }
    #main-header .header-logo img.icon-font {
        width: 130px;
        margin: 14px 0;
    }
    #so-einfach-gehts {
        margin: 1.5em auto 3em auto;
        
        h1 {
            font-size: 2.25em;
        }
    }
    h4.nunito-light.text-uppercase.text-center {
        font-size: 1.125em;
    }
    h1.latest-news {
        font-size: 2.25em;
        color: #fff;
        margin-left: 0;
    }
    #und-los-gehts  {
        margin: 1.5em auto;
        
        h1.los-gehts {
            font-size: 2.25em;
        }
        
        h2 {
            font-size: 1.5em;
            padding-top: 8em;
        }
        .fp-text.los-gehts {
            width: 90%;
        }   
    }

    footer {
        padding: 10px 0;
    }
    
    footer #main-footer {
        background-size: 0;
        padding: 0 5px;
    }
    footer #main-footer .footer-links {
        left: 0;
    }
    footer #main-footer .footer-icon-fb {
        width: 20px;
        margin-right: .25em;
    }
    footer #main-footer .footer-links .inner-link {
        position: relative;
        font-size: 0.75em;
        line-height: 29.75px;
        text-decoration: none;
        margin: 0;
    }
    footer #main-footer .footer-links .footer-text {
        font-size: .75em;
        color: #fff;
        margin-left: 8.5%;
        margin-top: 0;
    }
    
    
    
    // REGISTER 
    #main-content .register-fragen { 
        word-break: break-word; 
    }
    #main-content .register-fragen .register-wunsch-wg {
        margin: 20px 0 0 0 ;
    }
    #main-content .register-fragen .register-konto {
        margin: 0px 0 150px 0 ;
    }
    
    #main-content .register-fragen .register-wunsch-wg, #main-content .register-fragen .register-fragebogen, #main-content .register-fragen .register-konto {
        padding: 5px 25px 20px 25px;
    }
    
    #main-content .register-fragen .register-fragebogen {
        
        h3 {
            text-align: center;
            
            &:first-of-type {
                padding: 20px 0;
            }
        }
        
        .frage-headline {
            font-size: 1.125em;
            text-align: center;
        }
    }
    
    #main-content .register-fragen .register-fragebogen .fragen-container {
        margin: 5px 0 20px 0;
        padding: 10px 0 5px;    
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline {
        padding-left: 0;
        margin-bottom: 0px;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline input {
        width: 28px;
        height: 28px;
        margin-left: 0px;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline label {
        padding: 0 27px 32px 0;
        text-align: center;
    }
    
    .radio.radio-inline {
        margin: 0;
    }
    
    .toggle.btn {
        min-width: 60px;
        min-height: 28px;
    }
    .btn-default {
        color: #fff;
        background-color: #fff;
        border-color: #04e0d7;
    }
    .btn-primary {
        color: #fff;
        background-color: #04e0d7;
        border-color: #04e0d7;
    }
    .btn {
        display: inline-block;
        padding: 8px 14px;
        font-size: 10px;
    }
    
    label.btn.btn-primary.toggle-on, label.btn.btn-default.active.toggle-off {
        font-size: 11px;
        margin: 0px 0 0 -5px;
    }
    label.btn.btn-default.active.toggle-off {
        margin: 0 0 0 -7px;
    }
    label.btn.btn-primary.toggle-on {
        margin: 0 0 0 -10px;
    }
    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
        color: #fff;
        background-color: #04e0d7;
        border-color: #04e0d7;
    }

    #main-content .register-fragen .register-fragebogen {
        margin: 25px 0;
    }
    
    .big-text-btn>.btn-icon-wgsuchtwg, .big-text-btn>.btn-icon-mitbewohner, .big-text-btn>.btn-icon-wgzimmer {
        position: relative;
        width: 7em;
        top: 11em;
    }    
    .big-text-btn {
    	bottom: 35px;
    }
    
    #btn-wgzimmer, #btn-mitbewohner, #btn-wg {
    	.fp-text-small {
    		margin: 20px;		
    	}
    }
    
    
    /*
    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
        width: 60px !important;
        height: 25px !important;
        margin-top: 7px;
    }
    span.toggle-handle.btn.btn-default {
        height: 23px;
        width: auto;
        top: -1px;
    }
    
    .toggle-important {
        position: relative;
        top: 0;
        left: 0;
    }
    .radio.radio-inline {
        margin-top: 0;
        padding-left: 0;
    }
    */
    
}  

    
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-right.antwort-left {
        padding: 10px 20px 10px 0px;
    }
    
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-left.antwort-right {
        padding: 10px 0 10px 20px;
    }

    
    h5, #main-content .register-fragen .register-fragebogen .antwort-headline {
        font-size: .75em;
        margin-bottom: 3px;
        line-height: 1.1em;
    }
    
    p {
        font-size: .75em;
    }
    
    #main-content .register-fragen .register-fragebogen .radio.radio-inline {
        padding-left: 0;
        margin-bottom: 5px;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline input {
        width: 24px;
        height: 24px;
        margin-left: 0px;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline label {
        padding: 0px 24px 28px 0px;
        text-align: center;
    }
    
    .radio.radio-inline {
        margin: 0;
    }
    
// } 




