@media only screen and (max-width: 480px) {
    
    h3 { font-size: 1.3125em;  }
    h5, #main-content .register-fragen .register-fragebogen .antwort-headline { font-size: 0.75em; }
    p { font-size: 0.625em; }
    
    hr { margin: 10px 0; } 
    
    #anmelden-inner {
        #form-login-submit, #fb-login-submit, #mail-reg-submit, #fb-reg-submit {
            margin: 0;
        }
        h5 {
            margin: 0;
        }
    }
    #form-login-submit, #fb-login-submit, #mail-reg-submit, #fb-reg-submit {
        
        height: 45px;
        margin: 10px 0;
        font-size: .75em;
        line-height: 1.42857143em;
        
        border: none;
        // -webkit-border-radius: 4px;
        // -moz-border-radius: 4px;
        // border-radius: 4px;
        // .box-shadow(0.5px 0.5px 1px 1px rgba(100,100,100,0.15));
    }
    #main-header .header-logo img.icon-duck {
        width: 22px;
        margin: 14px 0;
    }
    #main-header .header-logo img.icon-font {
        width: 130px;
        margin: 14px 0;
    }
    #main-header .btn.btn-default.btn-login {
        width: 80px;
        margin-top: 12.5px;
    }
    #main-header .nav-p-lang .navlinks {
        margin-top: 17.5px;
    }
    #main-header #anmelden-inner {
        width: 150%;
        padding: 10px 30px;
        margin-right: 10px;
    }
    #main-content .carousel .carousel-inner .carousel-caption {
        padding: 6% 0;
    }
    #main-content .carousel .carousel-inner .carousel-caption .btn-group-register {
        display: none;
    }
    #main-content .carousel .carousel-indicators {
        top: 30%;
    }
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 6.72973%;
    }
    blockquote {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 0.8em;
    }
    #main-content #frontpage-slider h1 {
        margin: 5px 30px 0 30px;
        font-size: 1.5em !important;
    }
    #main-header .header-logo img.icon-duck {
        width: 22px;
        margin: 14px 0;
    }
    #main-header .header-logo img.icon-font {
        width: 130px;
        margin: 14px 0;
    }
    #so-einfach-gehts h1 {
        font-size: 2.25em;
    }
    h4.nunito-light.text-uppercase.text-center {
        font-size: 1.25em;
    }
    h1.latest-news {
        font-size: 2.25em;
        color: #fff;
        margin-left: 0;
    }
    #und-los-gehts h1.los-gehts {
        font-size: 2.25em;
    }

    footer {
        padding: 10px 0;
    }
    
    footer #main-footer {
        background-size: 0;
        padding: 0 5px;
    }
    footer #main-footer .footer-links {
        left: 0;
    }
    footer #main-footer .footer-icon-fb {
        width: 20px;
        margin-right: .25em;
    }
    footer #main-footer .footer-links .inner-link {
        position: relative;
        font-size: 0.75em;
        line-height: 29.75px;
        text-decoration: none;
        margin: 0;
    }
    footer #main-footer .footer-links .footer-text {
        font-size: .75em;
        color: #fff;
        margin-left: 8.5%;
        margin-top: 0;
    }
    
    
    
    // REGISTER 
    #main-content .register-fragen { 
        word-break: break-word; 
    }
    #main-content .register-fragen .register-wunsch-wg {
        margin: 20px 0 0 0 ;
    }
    #main-content .register-fragen .register-konto {
        margin: 0px 0 150px 0 ;
    }
    
    #main-content .register-fragen .register-wunsch-wg, #main-content .register-fragen .register-fragebogen, #main-content .register-fragen .register-konto {
        padding: 5px 10px 20px 10px;
    }
    
    #main-content .register-fragen .register-fragebogen {
        
        h3 {text-align: center;}
        
        .frage-headline {
            font-size: 1.125em;
            text-align: center;
        }
    }
    
    #main-content .register-fragen .register-fragebogen .fragen-container {
        margin: 20px 0;
    }
    
    #main-content .register-fragen .register-fragebogen .radio.radio-inline input {
        width: 1em;
        height: 1em;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline label {
        min-height: .875em;
        padding: 0 6px;
    }
    
    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
        width: 60px !important;
        height: 25px !important;
        margin-top: 7px;
    }
    span.toggle-handle.btn.btn-default {
        height: 23px;
        width: auto;
        top: -1px;
    }
    
    .toggle-important {
        position: relative;
        top: 0;
        left: 0;
    }
}   




