@media only screen and (min-width: 30em) and (max-width:48em) {
    
    h7 { font-size: 0.75em; }
    
    #main-header {
        padding: 0 10px;
    }
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 6.72973%;
    }
    #main-content #frontpage-slider h1 {
        margin: 10px 30px;
        font-size: 2em !important;
    }
    #main-content .carousel .carousel-indicators {
        top: 35%;
    }
    #main-content .carousel .carousel-inner .carousel-caption .btn-group-register {
        display: none;
    }
    #main-content .carousel .carousel-inner .carousel-caption .circle {
        width: 115px;
        height: 115px;
    }
    #main-content .carousel .carousel-inner .carousel-caption {
        padding: 8% 0;
    }
    #main-content .carousel .carousel-inner .carousel-caption .circle .caption-text {
        font-size: .75em;
        line-height: 15px;        
    }
    #main-content .carousel .carousel-inner .carousel-caption .hl-caption {
        font-family: 'NunitoSans-light';
        font-size: 0.8em;
    }

    blockquote {
        margin-bottom: 10px;
    }
    #main-header #anmelden-inner {
        width: 115%;
        padding: 20px 20px 35px;
    }
    #und-los-gehts h2 {
        font-size: 1.5em;
        color: #646464;
        border-top: 2px solid #646464;
        padding-top: 10em;
    }
    .big-text-btn>.btn-icon-wgsuchtwg, .big-text-btn>.btn-icon-mitbewohner, .big-text-btn>.btn-icon-wgzimmer {
        position: relative;
        width: 7em;
        margin-top: 0;
    }
    .big-text-btn {
        text-align: center;
        position: relative;
        bottom: 60px;
        top: 0;
    }
    .fp-text {
        font-size: 1.125em;
        line-height: 1.72222222em;
        width: 90%;
        margin: 0 auto;
    }
    .fp-text-small {
        font-size: .875em;
        line-height: 1.57142857em;
        margin: 25px;
    }
    
    #so-einfach-gehts h1 {
        font-size: 3em;
    }
    
    #latest-news h1.latest-news {
        padding-top: 0;
        margin-left: 0;
        font-size: 3em;
    }
    #latest-news .blog-news {
        transform: scale(1);
        margin-top: 2%;
    }
    #und-los-gehts h1.los-gehts {
        font-size: 3em;
    }
    footer {
        padding: 10px 0;
        
        #main-footer {
            background-size: 0%;
            
            .footer-links {
                left: 0;
            }
        }
    }
    
    // REGISTER 
    #main-content .register-fragen { 
        word-break: break-word; 
    }

    #main-content .register-fragen .register-wunsch-wg {
        margin: 20px 0 0 0 ;
    }
    #main-content .register-fragen .register-konto {
        margin: 0px 0 150px 0 ;
    }
    
    #main-content .register-fragen .register-wunsch-wg, #main-content .register-fragen .register-fragebogen, #main-content .register-fragen .register-konto {
        padding: 5px 20px 20px 20px;
    }
    
    #main-content .register-fragen .register-fragebogen {
        
        margin: 25px 0;
        padding-bottom: 40px;
    
        h3 {
            text-align: center;
            
            &:first-of-type {
                padding: 20px;
            }
        }
        .fragen-container {
            .antwort-left {
                padding-left: 9.652509652509652% !important;
            }
            .antwort-right {
                padding-right: 9.652509652509652% !important;
            }
        }
        
        
        .frage-headline {
            font-size: 1.125em;
            text-align: center;
        }
    }
    
    .antwort-value {
        text-align: center;
    }
    
    #main-content .register-fragen .register-fragebogen .fragen-container {
        margin: 20px 0 100px 0;
    }
    
    // #main-content .register-fragen .register-fragebogen .radio.radio-inline input {
    //     width: 1.625em;
    //     height: 1.625em;
    // }
    // #main-content .register-fragen .register-fragebogen .radio.radio-inline label {
    //     min-height: 1em;
    //     padding: 0 10px;
    // }
    
    #main-content .register-fragen .register-fragebogen .radio.radio-inline input {
        width: 28px;
        height: 28px;
        margin-left: 0px;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline label {
        padding: 0 27px 32px 0;
        text-align: center;
    }
    #main-content .register-fragen .register-fragebogen .antwort-headline {
        font-size: .875em;
        font-family: 'NunitoSans-extrabold';
        line-height: 1.2em;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-right.antwort-left {
        padding: 10px 25px 10px 0;
    }
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-left.antwort-right {
        padding: 10px 0 10px 25px;
    }
    
    .toggle.btn {
        min-width: 60px;
        min-height: 28px;
    }
    .btn-default {
        color: #fff;
        background-color: #fff;
        border-color: #04e0d7;
    }
    .btn-primary {
        color: #fff;
        background-color: #04e0d7;
        border-color: #04e0d7;
    }
    .btn {
        display: inline-block;
        padding: 8px 14px;
        font-size: 10px;
    }
    
    label.btn.btn-primary.toggle-on, label.btn.btn-default.active.toggle-off {
        font-size: 11px;
        margin: 0px 0 0 -5px;
    }
    label.btn.btn-default.active.toggle-off {
        margin: 0 0 0 -7px;
    }
    label.btn.btn-primary.toggle-on {
        margin: 0 0 0 -10px;
    }
    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
        color: #fff;
        background-color: #04e0d7;
        border-color: #04e0d7;
    }
    
    .toggle-important {
        position: relative;
        top: 0;
        left: 0;
    }
    
}