@media only screen and (min-width:481px) and (max-width:767px) {
    
    h7 { font-size: 0.75em; }
    
    #main-header {
        padding: 0 10px;
    }
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 6.72973%;
    }
    #main-content #frontpage-slider h1 {
        margin: 10px 30px;
        font-size: 2em !important;
    }
    #main-content .carousel .carousel-indicators {
        top: 35%;
    }
    #main-content .carousel .carousel-inner .carousel-caption .btn-group-register {
        display: none;
    }
    #main-content .carousel .carousel-inner .carousel-caption .circle {
        width: 115px;
        height: 115px;
    }
    #main-content .carousel .carousel-inner .carousel-caption {
        padding: 8% 0;
    }
    #main-content .carousel .carousel-inner .carousel-caption .circle .caption-text {
        font-size: .75em;
        line-height: 15px;        
    }
    #main-content .carousel .carousel-inner .carousel-caption .hl-caption {
        font-family: 'NunitoSans-light';
        font-size: 0.8em;
    }

    blockquote {
        margin-bottom: 10px;
    }
    #main-header #anmelden-inner {
        width: 115%;
        padding: 20px 20px 35px;
    }
    #und-los-gehts h2 {
        font-size: 1.5em;
        color: #646464;
        border-top: 2px solid #646464;
        padding-top: 10em;
    }
    .big-text-btn>.btn-icon-wgsuchtwg, .big-text-btn>.btn-icon-mitbewohner, .big-text-btn>.btn-icon-wgzimmer {
        position: relative;
        width: 7em;
        margin-top: 0;
    }
    .big-text-btn {
        text-align: center;
        position: relative;
        bottom: 60px;
        top: 0;
    }
    .fp-text {
        font-size: 1.125em;
        line-height: 1.72222222em;
        width: 90%;
        margin: 0 auto;
    }
    .fp-text-small {
        font-size: .875em;
        line-height: 1.57142857em;
        margin: 25px;
    }
    
    #so-einfach-gehts h1 {
        font-size: 3em;
    }
    
    #latest-news h1.latest-news {
        padding-top: 0;
        margin-left: 0;
        font-size: 3em;
    }
    #latest-news .blog-news {
        transform: scale(1);
        margin-top: 2%;
    }
    #und-los-gehts h1.los-gehts {
        font-size: 3em;
    }
    footer {
        padding: 10px 0;
        
        #main-footer {
            background-size: 0%;
            
            .footer-links {
                left: 0;
            }
        }
    }
    
    // REGISTER 
    #main-content .register-fragen { 
        word-break: break-word; 
    }

    #main-content .register-fragen .register-wunsch-wg {
        margin: 20px 0 0 0 ;
    }
    #main-content .register-fragen .register-konto {
        margin: 0px 0 150px 0 ;
    }
    
    #main-content .register-fragen .register-wunsch-wg, #main-content .register-fragen .register-fragebogen, #main-content .register-fragen .register-konto {
        padding: 5px 20px 20px 20px;
    }
    
    #main-content .register-fragen .register-fragebogen {
        
        h3 {text-align: center;}
        
        .frage-headline {
            font-size: 1.125em;
            text-align: center;
        }
    }
    
    #main-content .register-fragen .register-fragebogen .fragen-container {
        margin: 20px 0;
    }
    
    #main-content .register-fragen .register-fragebogen .radio.radio-inline input {
        width: 1.625em;
        height: 1.625em;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline label {
        min-height: 1em;
        padding: 0 10px;
    }
    
    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
        width: 70px !important;
        height: 30px !important;
        margin-top: 7px;
    }
    span.toggle-handle.btn.btn-default {
        height: 26px;
        width: 27px;
        top: 0px;
        left: 0px;
    }
    
    .toggle-important {
        position: relative;
        top: 0;
        left: 0;
    }
    
}