@import "22.less"; 
@import "23.less";

#main-header {
    padding: 15px 10px;
    
    #anmelden-inner {
        position: absolute;
        right: 4px;
        border: 1px solid transparent;
        top: 47px;
        background-color: #fff;
        box-shadow: #646464 0px 0px 10px;
        border-radius: 4px;
        width: 170%;
        padding: 10px 17px 19px;
        
        h3 {
            margin: 5px 0 15px 0;
        }
    }
}

#main-content {
    h1 {
        font-size: 3.6em;
        margin: 5px 30px;
    }
    .carousel-caption {
        padding: 18px 0;
        
        .header-icon-duck {
            width: 4.5em;
        }
    }
    .btn-group-register {
        display: inline-flex;
        position: relative;
        top: -15px;
        transform: scale(.75);
    }
    
    blockquote {
        padding: 0;
        margin: 0;
        
        p.caption {
            font-size: .8em;
        }
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 10px;
    }
    
    #und-los-gehts {
        h2 {
            color: #646464;
            border-top: 2px solid #646464;
            padding-top: 10rem;
        }    
        .big-text-btn>.btn-icon-wgsuchtwg, .big-text-btn>.btn-icon-mitbewohner, .big-text-btn>.btn-icon-wgzimmer {
            position: relative;
            width: 7rem;
            top: 10rem;
        }
    }
}
/*
@media screen and (min-width: 481px) and (max-width: 680px) {
    .btn-group-register { 
        display: none !important;
    }
}

@media screen and (min-width: 633px) and (max-width: 680px) {
    #main-content {
        h1 {
            margin: 25px 35px;
        }
        .btn-group-register {
            display: none;
        }
        .carousel-caption {
            padding: 45px 0;
        }
        
        #und-los-gehts {
            #btn-wgzimmer, #btn-mitbewohner, #btn-wg {
                width: 33%;
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
}

@media screen and (min-width: 681px) and (max-width: 768px) {
    #und-los-gehts {
        #btn-wgzimmer, #btn-mitbewohner, #btn-wg {
            width: 33%;
            display: inline-block;
            padding: 0 10px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    #main-content .btn-group-register {
        display: inline-flex;
        position: relative;
        top: -15px;
        transform: scale(.75);
    }
}
*/
