@media only screen and (min-width: 768px) and (max-width:991px) {
    
    h1 {
        margin: 10px 20px;
        font-size: 2.25em;
    }
    #main-content .carousel .carousel-inner .carousel-caption .circle {
        width: 115px;
        height: 115px;
    }
    #main-content .carousel .carousel-inner .carousel-caption {
        padding: 5% 0;
    }
    #main-content .carousel .carousel-inner .carousel-caption .circle .caption-text {
        font-size: .75em;
        line-height: 15px;        
    }
    #main-content .carousel .carousel-inner .carousel-caption .hl-caption {
        font-family: 'NunitoSans-light';
        font-size: 0.8em;
    }
    blockquote {
        margin-bottom: 10px;
    }
    #main-header #anmelden-inner {
        width: 100%;
    }
    
    #latest-news h1.latest-news {
        margin-left: 0;
        text-decoration: underline;
        font-size: 2.25em;
        padding-top: 40px;
    }   
    #latest-news .blog-news {
	    transform: scale(.9);
    }
    
    footer {
        padding: 10px 0;
        
        #main-footer {
            background-size: 25%;
            
            .footer-links {
                left: 0;
            }
        }
    }
    
    // REGISTER 
    #main-content .register-fragen { word-break: break-word; }

    #main-content .register-fragen .register-wunsch-wg {
        margin: 20px 0 0 0 ;
    }
    #main-content .register-fragen .register-konto {
        margin: 0px 0 150px 0 ;
    }
    
    // #main-content .register-fragen .register-wunsch-wg, #main-content .register-fragen .register-fragebogen, #main-content .register-fragen .register-konto {
    //     margin: 25px 0 135px 0;
    //     padding: 5px 20px 20px 20px;
    // }
    
    #main-content .register-fragen .register-fragebogen .frage-headline {
        font-size: 1.125em;
        text-align: right;
    }
    
    #main-content .register-fragen .register-fragebogen .fragen-container {
        margin: 45px 0 65px 0;
    }
    
    #main-content .register-fragen .register-fragebogen {
        
        h3 {text-align: center;}
        
        .frage-headline {
            font-size: 1.125em;
            text-align: right;
        }
    }
    
    #main-content .register-fragen .register-fragebogen .radio.radio-inline input {
        width: 1.625em;
        height: 1.625em;
    }
    #main-content .register-fragen .register-fragebogen .radio.radio-inline label {
        min-height: 1em;
        padding: 0 10px;
    }
    
    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
        width: 70px !important;
        height: 30px !important;
        margin-top: 4px;
    }
    span.toggle-handle.btn.btn-default {
        height: 26px;
        width: 27px;
        top: 0px;
        left: 0px;
    }
    
    .toggle-important {
        position: relative;
        top: 0;
        left: -45px;
    }
}



/*
@import "22.less"; 
@import "23.less";

#main-header {
    padding: 15px 10px;
    
    #anmelden-inner {
        position: absolute;
        right: 4px;
        border: 1px solid transparent;
        top: 47px;
        background-color: #fff;
        box-shadow: #646464 0px 0px 10px;
        border-radius: 4px;
        width: 170%;
        padding: 10px 17px 19px;
        
        h3 {
            margin: 5px 0 15px 0;
        }
    }
}

#main-content {
    h1 {
        font-size: 3.6em;
        margin: 5px 30px;
    }
    .carousel-caption {
        padding: 18px 0;
        
        .header-icon-duck {
            width: 4.5em;
        }
    }
    .btn-group-register {
        display: inline-flex;
        position: relative;
        top: -15px;
        transform: scale(.75);
    }
    
    blockquote {
        padding: 0;
        margin: 0;
        
        p.caption {
            font-size: .8em;
        }
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 10px;
    }
    
    #und-los-gehts {
        h2 {
            color: #646464;
            border-top: 2px solid #646464;
            padding-top: 10rem;
        }    
        .big-text-btn>.btn-icon-wgsuchtwg, .big-text-btn>.btn-icon-mitbewohner, .big-text-btn>.btn-icon-wgzimmer {
            position: relative;
            width: 7rem;
            top: 10rem;
        }
    }
}
*/
/*
@media screen and (min-width: 481px) and (max-width: 680px) {
    .btn-group-register { 
        display: none !important;
    }
}

@media screen and (min-width: 633px) and (max-width: 680px) {
    #main-content {
        h1 {
            margin: 25px 35px;
        }
        .btn-group-register {
            display: none;
        }
        .carousel-caption {
            padding: 45px 0;
        }
        
        #und-los-gehts {
            #btn-wgzimmer, #btn-mitbewohner, #btn-wg {
                width: 33%;
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
}

@media screen and (min-width: 681px) and (max-width: 768px) {
    #und-los-gehts {
        #btn-wgzimmer, #btn-mitbewohner, #btn-wg {
            width: 33%;
            display: inline-block;
            padding: 0 10px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    #main-content .btn-group-register {
        display: inline-flex;
        position: relative;
        top: -15px;
        transform: scale(.75);
    }
}
*/
