@media only screen and (min-width:992px) and (max-width:1199px) {
    #main-content {
        h1 {
            font-size: 3em;
        }
    	.carousel {
            .carousel-inner {
                padding: 0;
                .carousel-caption {
                    padding: 50px 0;
                    .circle {
                        width: 130px;
                        height: 130px;
                        
                        img {
                            padding-top: 0;
                            margin: 11.62790698% 0 7.813953% 0;
                        }

                        .caption-text {
                            font-size: 0.875em;
                        }
                    }
                    
                    .hl-caption {
                        font-size: 1.2em;
                    }
                }
            }
        }
        #so-einfach-gehts {
            .fp-text {
                width: 100%;
            }
        }
        .fp-text.los-gehts.text-center {
           width: 75%;
        }
    }
    #main-header #anmelden-inner {
        width: 80%;
    }
    
    h1.latest-news { 
        margin-left: 1.5em; 
        text-decoration: underline; 
    }
}
