@import "22.less"; 
@import "23.less"; 

/*min:992px max:1200px */
@media only screen and (min-width:62em) and (max-width: 75em) {
    
    #main-header {
        [class*='col-'] {
            .profile-nav {
                .controls-wrapper{
                    .text{
    					font-size: .875em;
    				}
    			}
    			.main-item-wrapper{
    				margin-right: 5px;
    				padding: .29vw .5vw;
    			}
    		}
    	}
    }
    
    #main-content {
        h1 {
            font-size: 3em;
        }
    	.carousel {
            .carousel-inner {
                padding: 0;
                .carousel-caption {
                    padding: 50px 0;
                    .circle {
                        width: 130px;
                        height: 130px;
                        
                        img {
                            padding-top: 0;
                            margin: 11.62790698% 0 7.813953% 0;
                        }

                        .caption-text {
                            font-size: 0.875em;
                        }
                    }
                    
                    .hl-caption {
                        font-size: 1.2em;
                    }
                }
            }
        }
        #so-einfach-gehts {
            .fp-text {
                width: 100%;
            }
        }
        #latest-news {
            padding-top: 2em;
        	padding-bottom: 0em;
            
            h1.latest-news {
        	    font-size: 3em;
        	    width: 20%;
        	    text-align: left;
        	    margin-left: 5%;
        	    margin-bottom: 0.5416666666666666em;
            }
            .blog-start {
                position: relative;
                top: -125px;
                padding: 0;
                margin: 10px 0 0 0;  
                
                [class*='col-'] {
                    padding: 0;
                }
                .col-md-3.col-sm-4.col-xs-5.startseiten-aussagen {
                	width: 21%;
                    margin-right: 2%;
                    margin-left: 0%;
                }
                .col-md-3.col-sm-4.col-xs-5.blog-entry-1, .col-md-3.col-sm-4.col-xs-5.blog-entry-2 {
                	width: 21%;
                    margin-right: 2%;
                    
                }
                
                p.blog-start-text.start-aussagen, .blog-start-text {
                    color: @darkgray;
                    font-family: @nunitoregular;
                    line-height: 1.4166666666666667em;
                    font-size: 0.875em;
                    text-align: start;
                    margin-bottom: 1em;
                }

                .header-wrapper {
                    font-size: 1.0666666666666667em;
                    .date {
                        font-size: .75em;
                        margin: 10px 0;
                        font-family: 'NunitoSans-Regular';
                    }
                    h3.latest-news {
                        margin: 5px 0 10px 0;
                        font-size: 0.9374999970703125em;
                        line-height: 1.4375em;
                        font-family: 'NunitoSans-Extrabold';
                    }
                }
            }
            .more-news {
                text-align: center;
                // margin-bottom: 20px;
                padding: 5% 30% 0% 30%;
                
                a.btn {
                    padding: 0.875em 6em;
                }
            }
        }

        .fp-text.los-gehts.text-center {
           width: 75%;
        }
        
        .register-fragen {
            
            h3 {
                font-size: 1.625em;
                padding: 5px 0 5px 5px;
            }
            p {font-size: .875em;}
        
            .col-md-3:first-of-type {
                padding: 0px 0px 0 10px;
            }
            .col-md-3:last-of-type {
                padding: 0px 10px 0 0px;
            }
            
            .register-wunsch-wg {
                margin: 35px 0 35px 0;
                padding: 1px 20px 20px 20px;
            }
            .register-konto {
                margin-right: 0;
                margin: 35px 0 200px 0;
                padding: 1px 20px 20px 20px;
            }
            
            
            .register-fragebogen {
                margin: 35px 0 120px 0;
                
                h3:first-of-type  {
                    text-align: center;
                }
                .fragen-container {
                    margin: 35px 0;
                    
                    .antwort-headline {
                        font-size: 1em;
                        margin: 10px 0 5px 0;
                        line-height: 1.2;
                    }
                    .text-right.antwort-left {
                        margin-right: 0;
                        padding-right: .5%;
                        padding-left: 2.5%;
                    }
                    
                    .text-left.antwort-right {
                        margin-left: 0;
                        padding-left: .5%;
                        padding-right: 2.5%;
                    }
                    
                    .radio.radio-inline {
                        margin: 5px 0;
                        
                        label {
                            padding: 0 26px 37px 0;
                            text-align: center;
                        }
                        input {
                            width: 27px;
                            height: 27px;
                            margin-left: 0;
                        }
                    }
                    
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                        width: 140px !important;
                        height: 30px !important;
                        margin-top: 5px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-left: 0px;
                        padding-top: 3px;
                        padding-right: 11px;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 20px;
                        padding-top: 3px;
                    }
                    span.toggle-handle.btn.btn-default {
                        height: 30px;
                        width: 32px;
                        top: 0;
                        left: 0;
                        padding: 0px 5px 0px 5px;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 5px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, 
                    .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, 
                    .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, 
                    .open>.dropdown-toggle.btn-primary:hover {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                }
            }
        }
        
        #impressum, #agb, #faq {
            h1 {
                font-size: 2.375em;
            }
            h3 {
                font-size: 1.125em;
            }
            .left-row {
                margin: 25px 0 0 0;
            }
            .middle-row {
                padding: 20px 5.769230769230769%;
                margin: 30px 0;
            }
        }
        
        .searchform {
            .form-group {
                margin-top: 15px;
                &:first-of-type {
                    margin-top: 10px;
                }
            }
        }
        
        
        #search-page {
            
            input.form-control {
                font-size: .875em;
            }
            .shadow-box-left, .shadow-box-right {
                width: 100%;
                margin: 0;
                padding: 1px 10px 25px 10px;
            }
            .shadow-box-left {
                .radio { 
                    label { 
                        .suche-cat.btn-icons-reg {
                            margin: 0 3px;
                            padding: 5px;
                        }
                    }
                }
            }
            
            .chatcontacts, .mapcontacts {
                margin-bottom: 25px;
                
                .shadow-box-right {
                    margin-left: 0;
                    margin-bottom: 0;
                    
                    .aside-right-map {
                        min-height: 65px;
                        
                        h1 {
                            font-size: 2em;
                        }
            
                        svg#map-icon-arrow-down {
                            height: 28px;
                            // transform: rotate(180deg);
                            // padding-left: 15px;
                        }
                        
                        .searchform {
                            padding-bottom: 0;
                        
                            .map {
                                height: 190px;    
                            }
                        }
                    }
                    
                    
                    .aside-right-chat {
                        min-height: 65px;
                        
                        h1 {
                            font-size: 2em;
                            margin-top: -6px;
                            &.chat {
                                background: transparent;
                                padding: 0;
                            }
                        }
                        svg#chat-icon-arrow-down {
                            height: 28px;
                            // padding-left: 15px;
                        }
                    }
                    
                    .input-icon {
                        .icon-Lupe:before {
                            position: absolute;
                            content: "\e636";
                            top: -41px;
                            color: #04e0d7;
                            font-weight: bold;
                            font-size: 14px;
                            right: -10px;
                        }
                    }
                }
                
                .contacts-wrapper {
                    .contact {
                        .image-wrapper {
                            width: 45px;
                            height: auto;
                            
                            .image {
                                width: 45px;
                                height: auto;
                            }
                        }
                        
                        .controls-wrapper {
                            .timestamp {
                                padding-right: 2px;
                                padding-top: 4px;
                                font-size: 10px;
                            }
                        }
                        .teaser-wrapper {
                            padding-top: 14px;
                            .name {
                                font-size: .875em;
                            }
                        }
                    }
                }
            }
        }
    }
    footer #main-footer .footer-links {
        background-position: 80% 50%;
    }
}

