@import "22.less"; 
@import "23.less"; 


/*min:1200px*/
@media only screen and (min-width:75em) and (max-width:99.9375em) {
    
    
    #main-content {
        h1 {
            font-size: 2.5em;
        }
    	.carousel {
            .carousel-indicators {
            }
            .carousel-inner {
                .carousel-caption {
                    h1.text-uppercase {
                    }
                    .header-icon-duck {
                        margin-top: 5%;
                        width: 2.75em !important;
                    }
                    
                    .hl-caption {
                    }
                    .btn-wrapper {
                        .btn-group-register {
                            .btn-icon-wgzimmer, .btn-icon-mitbewohner, .btn-icon-wgsuchtwg {
                            }
                        }
                    }
                    .circle {

                    }
                }
                .item {
                    
                    img {
                    }
                }
            }
        }
    
    
        
        #latest-news {
            padding-top: 2em;
        	padding-bottom: 0em;
            
            h1.latest-news {
        	    font-size: 3em;
        	    width: 20%;
        	    text-align: left;
        	    margin-left: 5%;
        	    margin-bottom: 0.5416666666666666em;
            }
            .blog-start {
                position: relative;
                top: -125px;
                padding: 0;
                margin: 10px 0 0 0;  
                
                [class*='col-'] {
                    padding: 0;
                }
                .col-md-3.col-sm-4.col-xs-5.startseiten-aussagen {
                	width: 21%;
                    margin-right: 2%;
                    margin-left: 0%;
                }
                .col-md-3.col-sm-4.col-xs-5.blog-entry-1, .col-md-3.col-sm-4.col-xs-5.blog-entry-2 {
                	width: 21%;
                    margin-right: 2%;
                    
                }
                
                p.blog-start-text.start-aussagen, .blog-start-text {
                    color: @darkgray;
                    font-family: @nunitoregular;
                    line-height: 1.4166666666666667em;
                    font-size: 0.875em;
                    text-align: start;
                    margin-bottom: 1em;
                }

                .header-wrapper {
                    font-size: 1.0666666666666667em;
                    .date {
                        font-size: .75em;
                        margin: 10px 0;
                        font-family: 'NunitoSans-Regular';
                    }
                    h3.latest-news {
                        margin: 5px 0 10px 0;
                        font-size: 0.9374999970703125em;
                        line-height: 1.4375em;
                        font-family: 'NunitoSans-Extrabold';
                    }
                }
            }
            .more-news {
                text-align: center;
                padding: 5% 30% 0% 30%;
                
                a.btn {
                    padding: 0.875em 6em;
                }
            }
        }
        
        .register-fragen {
            padding-left: 3.125%;
            padding-right: 3.125%;
            
            .register-wunsch-wg {
                margin: 35px 0;
                padding: 1px 45px 25px 30px;
            }
            .register-wunsch-wg, .register-fragebogen, .register-konto,  {
                .antwort-headline {
                    margin: 10px 0;
                    line-height: 1.14285714em;
                }
            }
            .register-fragebogen {
    
                .fragen-container {
                    margin: 35px 0 55px 0;
                    
                    .text-right.antwort-left {
                        margin-right: 0;
                        padding-right: .5%;
                    }
                    
                    .text-left.antwort-right {
                        margin-left: 0;
                        padding-left: .5%;
                    }
                    
                    .radio.radio-inline {
                        margin: 5px 0 15px 0;
                        
                        label {
                            padding: 0 30px 37px 0;
                            text-align: center;
                        }
                        input {
                            width: 30px;
                            height: 30px;
                            margin-left: 0;
                        }
                    }
                    
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                        width: 160px !important;
                        height: 32px !important;
                        margin-top: 3px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-right: 15px;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 15px;
                    }
                    span.toggle-handle.btn.btn-default {
                        height: 30px;
                        width: 30px;
                        top: 0;
                        left: 0;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                        min-width: 59px;
                        min-height: 20px;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 4px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, 
                    .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, 
                    .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, 
                    .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover 
                    {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                }
            }
            #fragebogen-save {
                width: 50%;
                height: auto;
                margin: 39px 0 15px 0;
                padding: 14px;
            }
        }

        #impressum, #agb, #faq {
            h1 {
                font-size: 2.375em;
            }
            h3 {
                font-size: 1.125em;
            }
            .middle-row {
                padding-left: 2.7940626169390046%;
                padding-right: 2.7940626169390046%;
            }
        }

    

/**
  *     PAGES LOGGEDIN
  */
    .searchform {
        .form-group {
            margin-bottom: 0px;
            margin-top: 24px;
        }
    }
  
    /* SUCHE */
    #search-page {
        margin-top: 35px;
        
        input.form-control {
            font-size: .875em;    
        }
        .form-group {
            .legend {
                color: @turkis;
            }
        }
        .shadow-box-left {
            width: 95%;
            margin: 0 0 0 2.5%;
            padding: 1px 15px 25px 15px;
            .border-radius(2px);
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));

            .radio {
                input {
                    display: none;
                }

                label {
                    padding-left: 0;
                    
                    .suche-cat.btn-icons-reg {
                        display: inline-block;
                        background-color: @lightgray;
                        color: #999;
                        margin: 10px 5px;
                        padding: 5px 9px;
                        .border-radius(6px);
                        .box-shadow(0.126em 0.126em 0.126em rgba(170, 170, 170, 0.6));
                    }
                }
                label input#typ-suche,
                label input#typ-biete {
                    &.active + span {
                        background-color: @turkis;
                        color: #fff;
                    }
                }
            }
        }
        
        .shadow-box-center {
            width: 100%;
            margin: 0;
            .border-radius(2px);
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));

                
                .searchlist {
                    .img-wrapper {
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        .transition(all 300ms ease);
                        
                        &:before{
                            content: "";
                            display: block;
                            padding-top: 106.5%;
                        }
                        .inner-wrapper{
                            height:100%;
                            width:100%;
                            position:absolute;
                            top:50%;
                            left:50%;
                            .translate(-50%, -50%);
                            
                            img{
                                transform: translateZ(0);
                                -moz-transform: translateZ(0);
                                -webkit-transform: translateZ(0);
                            }
                        }
                        .overlay-bg {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100%;
                            background: rgba(0,0,0,0.5);
                            .transition(all 300ms ease);
                            opacity: 0;
                            
                            &:hover, &.active {
                                .overlay-bg{
                                    opacity: 1;
                                    .overlay{
                                        transform: scale(1);
                                        opacity: 1;
                                    }
                                }   
                            }
                        }
                    }
                }
        }
        .shadow-box-right {
            width: 95%;
            margin: 0 2.5% 0 0;
            padding: 0 15px 0 15px;
            .border-radius(2px);
            .box-shadow(0 0 5px 5px rgba(100,100,100,0.1));
        }
        
        .chatcontacts {
            .shadow-box-right {
                margin-bottom: 35px;
                margin-left: 3%;
                
                .aside-right-chat {
                    min-height: 92px;
                    padding-top: 24px;
                    
                    h1 { 
                        margin:-6px 0 10px 0;
                        width: 80%;
                        float: left;
                        font-size: 2.5em;

                        &.chat {
                            background: transparent;
                            padding: 0;
                        }
                        
                    }
                    svg#chat-icon-arrow-down {
                        height: 40px;
                        .rotate(180deg);
                    }
                    .form-group {
                        margin-bottom: 0;
                    }
                }
                .aside-right-map {
                    min-height: 92px;
                    padding-top: 24px;
                    h1 { 
                        margin:-6px 0 10px 0;
                        width: 80%;
                        float: left;
                        font-size: 2.5em;
                    }
                    svg#map-icon-arrow-down {
                        height: 40px;
                        .rotate(360deg);
                    }
                    .form-group {
                        margin-bottom: 0;
                    }
                }
                .input-icon .icon-Lupe {
                    &:before {
                        position: absolute;
                        content: "\e636";
                        top: -44px;
                        color: #04e0d7;
                        font-weight: bold;
                    }
                }
                
                #chat-input-search {
                    padding-bottom: 15px;
                    
                    .contacts-wrapper {
                        margin: 20px 0;
                        
                        .contact {
                            margin: 5px 0px;
                        }
                    }
                }
                .searchform {
                    padding-bottom: 25px;
                    .map {
                        width: 100%;
                        height: 300px;
                        
                    }
                }
            }
        }
    }
    .icon-Map.js-autocomplete-duck {
        position: absolute;
        font-size: 22px;
        bottom: 145px;
        left: 77%;
    }
    .icon-Map .path1:before {
        content: "\e63c";
        color: @turkis !important; 
    }
    .icon-Map .path2:before {
        content: "\e63d";
        margin-left: -1em;
        color: #fff !important;
    }
        
    .icon-arrow-up-down-map, .icon-arrow-up-down-chat {
        border: none;
        background-color: transparent;
        position: relative;
        padding: 0;
        top: 0;
        left: 0;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    
    /* END SUCHE */
    
/* END PAGES LOGGEDIN */    
        .picture-col {
            padding-left: 2px;
            padding-right: 2px;
            margin-bottom: 4px;
            transform: translateZ(0);
        }
    }

    footer {
        #main-footer {
            padding: 5px 7.656250000000001%;
            
                .footer-links {
                a {
                    font-size: .875em;
                    
                    &:first-of-type {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}






/*min:1600px*/
@media only screen and (min-width:100em) {
    
    #main-header {
        #anmelden-inner {
            width: 50%;
        }
    }
    #main-content {
    	.carousel {
            .carousel-indicators {
            }
            .carousel-inner {
                .carousel-caption {
                    h1.text-uppercase {
                    }
                    .header-icon-duck {
                        margin-top: 5%;
                        width: 2.75em !important;
                    }
                    
                    .hl-caption {
                    }
                    .btn-wrapper {
                        .btn-group-register {
                            .btn-icon-wgzimmer, .btn-icon-mitbewohner, .btn-icon-wgsuchtwg {
                            }
                        }
                    }
                    .circle {

                    }
                }
                .item {
                    
                    img {
                    }
                }
            }
        }
        #latest-news {
            padding-top: 2em;
        	padding-bottom: 0em;
            
            h1.latest-news {
        	    font-size: 3em;
        	    width: 250px;
        	    text-align: left;
        	    margin-left: 10%;
        	    margin-bottom: 0.5416666666666666em;
            }
            .blog-start {
                position: relative;
                top: -125px;
                padding: 0;
                margin: 10px 0 0 0;  
                
                [class*='col-'] {
                    padding: 0;
                }
                .col-md-3.col-sm-4.col-xs-5.startseiten-aussagen {
                    width: 250px;
                    margin-right: 25px;
                    margin-left: 80px;
                }
                .col-md-3.col-sm-4.col-xs-5.blog-entry-1, .col-md-3.col-sm-4.col-xs-5.blog-entry-2 {
                    width: 250px;
                    margin-right: 25px;
                    margin-left: 0;
                }
                
                p.blog-start-text.start-aussagen, .blog-start-text {
                    width: 100%;
                    text-align: justify;
                    color: @darkgray;
                    font-family: @nunitoregular;
                    line-height: 1.4166666666666667em;
                    font-size: 0.875em;
                    margin-bottom: 1em;
                }

                .header-wrapper {
                    font-size: 1.0666666666666667em;
                    .date {
                        font-size: .75em;
                        margin: 10px 0;
                        font-family: 'NunitoSans-Regular';
                    }
                    h3.latest-news {
                        margin: 5px 0 10px 0;
                        font-size: 0.9374999970703125em;
                        line-height: 1.4375em;
                        font-family: 'NunitoSans-Extrabold';
                    }
                }
            }
            .more-news {
                text-align: center;
                padding: 5% 35% 0 35%;
                
                a.btn {
                    padding: 0.875em 6em;
                }
            }
        }
        
        
        .register-fragen {
            padding-left: 3.125%;
            padding-right: 3.125%;
            
            .register-wunsch-wg {
                margin: 50px 0 35px 0;
                padding: 1px 45px 25px 30px;
            }
            .register-wunsch-wg, .register-fragebogen, .register-konto,  {
                .antwort-headline {
                    margin: 10px 0;
                    line-height: 1.14285714em;
                }
            }
        
            h3 {    
                font-size: 1.75em;
                padding: 5px 0;
                
                &:first-of-type {
                    font-size: 2em;
                }
            }
            .register-fragebogen {
    
                .fragen-container {
                    margin: 35px 0;
                    
                    .text-right.antwort-left {
                        padding: 5px 0px 10px 0;
                    }
                    .text-left.antwort-right {
                        padding: 5px 0 10px 0px;
                    }
                    
                    .radio.radio-inline {
                        margin: 5px 0;
                        
                        label {
                            padding: 0 34px 38px 0;
                            text-align: center;
                        }
                        input {
                            width: 32px;
                            height: 32px;
                            margin-left: 0;
                        }
                    }
                    
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                        width: 160px !important;
                        height: 32px !important;
                        margin-top: 3px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-right: 15px;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 15px;
                    }
                    span.toggle-handle.btn.btn-default {
                        height: 30px;
                        width: 30px;
                        top: 0;
                        left: 0;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                        min-width: 59px;
                        min-height: 20px;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 4px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, 
                    .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, 
                    .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus,
                    .open>.dropdown-toggle.btn-primary:hover 
                    {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    
                }
            }
            #fragebogen-save {
                width: 50%;
                height: auto;
                margin: 39px 0 15px 0;
                padding: 14px;
            }
        }
        .register-konto {
            padding: 1px 45px 25px 30px !important;
        }
        
        #impressum, #agb, #faq {
            .middle-row {
                padding-left: 2.7940626169390046%;
                padding-right: 21.93214419%;
            }
        }
    }
}

