@import "22.less"; 
@import "23.less"; 

/*min:1200px*/
@media only screen and (min-width:75em) {
    
    #main-content {
        .carousel .carousel-inner .carousel-caption .header-icon-duck {
            width: 5.72973%;
            margin-top: 2em;
        }
        
        #latest-news {
            padding-top: 2em;
        	padding-bottom: 0em;
            
            h1.latest-news {
        	    font-size: 3em;
        	    width: 20%;
        	    text-align: left;
        	    margin-left: 5%;
        	    margin-bottom: 0.5416666666666666em;
            }
            .blog-start {
                position: relative;
                top: -125px;
                padding: 0;
                margin: 10px 0 0 0;  
                
                [class*='col-'] {
                    padding: 0;
                }
                .col-md-3.col-sm-4.col-xs-5.startseiten-aussagen {
                	width: 21%;
                    margin-right: 2%;
                    margin-left: 0%;
                }
                .col-md-3.col-sm-4.col-xs-5.blog-entry-1, .col-md-3.col-sm-4.col-xs-5.blog-entry-2 {
                	width: 21%;
                    margin-right: 2%;
                    
                }
                
                p.blog-start-text.start-aussagen, .blog-start-text {
                    color: @darkgray;
                    font-family: @nunitoregular;
                    line-height: 1.4166666666666667em;
                    font-size: 0.875em;
                    text-align: start;
                    margin-bottom: 1em;
                }

                .header-wrapper {
                    font-size: 1.0666666666666667em;
                    .date {
                        font-size: .75em;
                        margin: 10px 0;
                        font-family: 'NunitoSans-Regular';
                    }
                    h3.latest-news {
                        margin: 5px 0 10px 0;
                        font-size: 0.9374999970703125em;
                        line-height: 1.4375em;
                        font-family: 'NunitoSans-Extrabold';
                    }
                }
            }
            .more-news {
                text-align: center;
                // margin-bottom: 20px;
                padding: 5% 30% 0% 30%;
                
                a.btn {
                    padding: 0.875em 6em;
                }
            }
        }
        
        .register-fragen {
            .register-fragebogen {
    
                .fragen-container {
                    margin: 35px 0 55px 0;
                    
                    .text-right.antwort-left {
                        // padding-left: 15.847302436962952%;
                        // padding-right: 1.92365122%;
                        margin-right: 0;
                        padding-right: 0;
                    }
                    
                    .text-left.antwort-right {
                        // padding-right: 15.847302436962952%;
                        // padding-left: 1.92365122%;
                        margin-left: 0;
                        padding-left: 0;
                    }
                    
                    .radio.radio-inline {
                        margin: 5px 0 15px 0;
                        
                        label {
                            padding: 0 30px 37px 0;
                            text-align: center;
                        }
                        input {
                            width: 30px;
                            height: 30px;
                            margin-left: 0;
                        }
                    }
                    
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                        width: 160px !important;
                        height: 32px !important;
                        margin-top: 3px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-right: 15px;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 15px;
                    }
                    span.toggle-handle.btn.btn-default {
                        height: 30px;
                        width: 30px;
                        top: 0;
                        left: 0;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                        min-width: 59px;
                        min-height: 20px;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 4px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    
                }
            }
            #fragebogen-save {
                width: 50%;
                height: auto;
                margin: 39px 0 15px 0;
                padding: 14px;
            }
            // .register-fragebogen {
            //     .fragen-container {
            //         // margin: 45px 0 110px 0;
                    
            //         .radio.radio-inline {
            //             margin: 5px 0 15px 0;
                        
            //             label {
            //                 padding: 0 34px 38px 0;
            //                 text-align: center;
            //             }
            //             input {
            //                 width: 32px;
            //                 height: 32px;
            //                 margin-left: 0;
            //             }
            //         }
                    
            //         .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
            //             width: 140px !important;
            //             height: 35px !important;
            //             margin-top: 5px;
            //         }
            //         label.btn.btn-primary.toggle-on {
            //             margin: 0;
            //             padding-left: 0;
            //         }
            //         label.btn.btn-default.active.toggle-off {
            //             margin: 0;
            //             padding-left: 20px;
            //         }
            //         span.toggle-handle.btn.btn-default {
            //             height: 33px;
            //             width: 33px;
            //             top: 0;
            //             left: 0;
            //         }
            //         .toggle-btn {
            //             color: #fff;
            //             background-color: #fff;
            //             border-color: @turkis;
            //         }
            //         .btn-primary {
            //             color: #fff;
            //             background-color: @turkis;
            //             border-color: @turkis;
            //         }
            //         .btn {
            //             display: inline-block;
            //             padding: 5px;
            //             font-size: .875em;
            //         }
            //         .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, 
            //         .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, 
            //         .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, 
            //         .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
            //             color: #fff;
            //             background-color: @turkis;
            //             border-color: @turkis;
            //         }
            //     }
            // }
            // #fragebogen-save {
            //     width: 50%;
            //     height: auto;
            //     margin: 39px 0 15px 0;
            //     padding: 14px;
            // }
        }

        #impressum, #agb, #faq {
            h1 {
                font-size: 2.375em;
            }
            h3 {
                font-size: 1.125em;
            }
            .middle-row {
                padding-left: 2.7940626169390046%;
                padding-right: 2.7940626169390046%;
            }
        }
    }
}

/*min:1600px*/
@media only screen and (min-width:100em) {

    #main-content {

        #latest-news {
            padding-top: 2em;
        	padding-bottom: 0em;
            
            h1.latest-news {
        	    font-size: 3em;
        	    width: 250px;
        	    text-align: left;
        	    margin-left: 10%;
        	    margin-bottom: 0.5416666666666666em;
            }
            .blog-start {
                position: relative;
                top: -125px;
                padding: 0;
                margin: 10px 0 0 0;  
                
                [class*='col-'] {
                    padding: 0;
                }
                .col-md-3.col-sm-4.col-xs-5.startseiten-aussagen {
                    width: 250px;
                    margin-right: 25px;
                    margin-left: 80px;
                }
                .col-md-3.col-sm-4.col-xs-5.blog-entry-1, .col-md-3.col-sm-4.col-xs-5.blog-entry-2 {
                    width: 250px;
                    margin-right: 25px;
                    margin-left: 0;
                }
                
                p.blog-start-text.start-aussagen, .blog-start-text {
                    width: 100%;
                    text-align: justify;
                    color: @darkgray;
                    font-family: @nunitoregular;
                    line-height: 1.4166666666666667em;
                    font-size: 0.875em;
                    margin-bottom: 1em;
                }

                .header-wrapper {
                    font-size: 1.0666666666666667em;
                    .date {
                        font-size: .75em;
                        margin: 10px 0;
                        font-family: 'NunitoSans-Regular';
                    }
                    h3.latest-news {
                        margin: 5px 0 10px 0;
                        font-size: 0.9374999970703125em;
                        line-height: 1.4375em;
                        font-family: 'NunitoSans-Extrabold';
                    }
                }
            }
            .more-news {
                text-align: center;
                // margin-bottom: 20px;
                // padding: 5% 30% 0% 30%;
                padding: 5% 35% 0 35%;
                
                a.btn {
                    padding: 0.875em 6em;
                }
            }
        }
        
        
        .register-fragen {
            
            padding-left: 3.125%;
            padding-right: 3.125%;
        
            h3 {    
                font-size: 1.75em;
                padding: 5px 0;
                
                &:first-of-type {
                    font-size: 2em;
                }
            }
            .register-fragebogen {
    
                .fragen-container {
                    margin: 35px 0 55px 0;
                    
                    /* .antwort-left {
                        padding-left: 15.847302436962952%;
                        padding-right: 1.92365122%;
                    } */
                    
                    /* .antwort-right {
                        padding-right: 15.847302436962952%;
                        padding-left: 1.92365122%;
                    } */
                    
                    .radio.radio-inline {
                        margin: 5px 0 15px 0;
                        
                        label {
                            padding: 0 34px 38px 0;
                            text-align: center;
                        }
                        input {
                            width: 32px;
                            height: 32px;
                            margin-left: 0;
                        }
                    }
                    
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                        width: 160px !important;
                        height: 32px !important;
                        margin-top: 3px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-right: 15px;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 15px;
                    }
                    span.toggle-handle.btn.btn-default {
                        height: 30px;
                        width: 30px;
                        top: 0;
                        left: 0;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                        min-width: 59px;
                        min-height: 20px;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 4px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    
                }
            }
            #fragebogen-save {
                width: 50%;
                height: auto;
                margin: 39px 0 15px 0;
                padding: 14px;
            }
        }
        .register-konto {
            padding: 1px 45px 25px 30px !important;
        }
        
        #impressum, #agb, #faq {
            .middle-row {
                padding-left: 2.7940626169390046%;
                padding-right: 21.93214419%;
            }
        }
    }
    
    #main-content .register-fragen .register--wg h5, #main-content .register-fragen .register-fragebogen h5, #main-content .register-fragen .register-konto h5 {
        margin: 20px 0 10px 0;
        text-transform: uppercase;
        line-height: 1.14285714em;
    }

    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-right.antwort-left {
        padding: 5px 0px 10px 0;
    }
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-left.antwort-right {
        padding: 5px 0 10px 0px;
    }
    #main-content .register-fragen .register-fragebogen .fragen-container .radio.radio-inline {
        margin: 5px 0 5px 0;
    }
    
    #main-content .register-fragen .register-wunsch-wg {
        margin: 50px 0 35px 0;
        padding: 1px 45px 25px 30px;
    }
    
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 4.72973%;
        margin-top: 4em;
    }
}


/**************************
@import "22.less"; 
@import "23.less"; 

@media only screen and (min-width:75em) {
    
    #main-content {
        .carousel .carousel-inner .carousel-caption .header-icon-duck {
            width: 5.72973%;
            margin-top: 2em;
        }
        
        #latest-news {
            padding-top: 2em;
        	padding-bottom: 0em;
            
            h1.latest-news {
        	    font-size: 3em;
        	    width: 20%;
        	    text-align: left;
        	    margin-left: 5%;
        	    margin-bottom: 0.5416666666666666em;
            }
            .blog-start {
                position: relative;
                top: -125px;
                padding: 0;
                margin: 10px 0 0 0;  
                
                [class*='col-'] {
                    padding: 0;
                }
                .col-md-3.col-sm-4.col-xs-5.startseiten-aussagen {
                	width: 21%;
                    margin-right: 2%;
                    margin-left: 0%;
                }
                .col-md-3.col-sm-4.col-xs-5.blog-entry-1, .col-md-3.col-sm-4.col-xs-5.blog-entry-2 {
                	width: 21%;
                    margin-right: 2%;
                    
                }
                
                p.blog-start-text.start-aussagen, .blog-start-text {
                    color: @darkgray;
                    font-family: @nunitoregular;
                    line-height: 1.4166666666666667em;
                    font-size: 0.875em;
                    text-align: start;
                    margin-bottom: 1em;
                }

                .header-wrapper {
                    font-size: 1.0666666666666667em;
                    .date {
                        font-size: .75em;
                        margin: 10px 0;
                        font-family: 'NunitoSans-Regular';
                    }
                    h3.latest-news {
                        margin: 5px 0 10px 0;
                        font-size: 0.9374999970703125em;
                        line-height: 1.4375em;
                        font-family: 'NunitoSans-Extrabold';
                    }
                }
            }
            .more-news {
                text-align: center;
                // margin-bottom: 20px;
                padding: 5% 30% 0% 30%;
                
                a.btn {
                    padding: 0.875em 6em;
                }
            }
        }
        
        .register-fragen {
            .register-fragebogen {
                .fragen-container {
                    // margin: 45px 0 110px 0;
                    
                    .radio.radio-inline {
                        margin: 5px 0 15px 0;
                        
                        label {
                            padding: 0 34px 38px 0;
                            text-align: center;
                        }
                        input {
                            width: 32px;
                            height: 32px;
                            margin-left: 0;
                        }
                    }
                    
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                	    width: 160px !important;
                		height: 32px !important;
                		margin-top: 25px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-left: 0;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 20px;
                    }
                    span.toggle-handle.btn.btn-default {
                        height: 30px;
                	    width: 30px;
                	    top: 0;
                	    left: 0;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 3px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                }
            }
            #fragebogen-save {
                width: 50%;
                height: auto;
                margin: 39px 0 15px 0;
                padding: 14px;
            }
        }
      
        #impressum, #agb, #faq {
            h1 {
                font-size: 2.375em;
            }
            h3 {
                font-size: 1.125em;
            }
            .middle-row {
                padding-left: 2.7940626169390046%;
                padding-right: 2.7940626169390046%;
            }
        }
    }
}


@media only screen and (min-width:100em) {

    #main-content {

        #latest-news {
            padding-top: 2em;
        	padding-bottom: 0em;
            
            h1.latest-news {
        	    font-size: 3em;
        	    width: 250px;
        	    text-align: left;
        	    margin-left: 10%;
        	    margin-bottom: 0.5416666666666666em;
            }
            .blog-start {
                position: relative;
                top: -125px;
                padding: 0;
                margin: 10px 0 0 0;  
                
                [class*='col-'] {
                    padding: 0;
                }
                .col-md-3.col-sm-4.col-xs-5.startseiten-aussagen {
                    width: 250px;
                    margin-right: 25px;
                    margin-left: 80px;
                }
                .col-md-3.col-sm-4.col-xs-5.blog-entry-1, .col-md-3.col-sm-4.col-xs-5.blog-entry-2 {
                    width: 250px;
                    margin-right: 25px;
                    margin-left: 0;
                }
                
                p.blog-start-text.start-aussagen, .blog-start-text {
                    width: 100%;
                    text-align: justify;
                    color: @darkgray;
                    font-family: @nunitoregular;
                    line-height: 1.4166666666666667em;
                    font-size: 0.875em;
                    margin-bottom: 1em;
                }

                .header-wrapper {
                    font-size: 1.0666666666666667em;
                    .date {
                        font-size: .75em;
                        margin: 10px 0;
                        font-family: 'NunitoSans-Regular';
                    }
                    h3.latest-news {
                        margin: 5px 0 10px 0;
                        font-size: 0.9374999970703125em;
                        line-height: 1.4375em;
                        font-family: 'NunitoSans-Extrabold';
                    }
                }
            }
            .more-news {
                text-align: center;
                // margin-bottom: 20px;
                // padding: 5% 30% 0% 30%;
                padding: 5% 35% 0 35%;
                
                a.btn {
                    padding: 0.875em 6em;
                }
            }
        }
        
        
        .register-fragen {
            
            padding-left: 3.125%;
            padding-right: 3.125%;
        
            h3 {    
                font-size: 1.75em;
                padding: 5px 0;
                
                &:first-of-type {
                    font-size: 2em;
                }
            }
            .register-fragebogen {
    
                .fragen-container {
                    margin: 45px 0 55px 0;
                    
                    hr {
                        margin: 15px 5%;
                    }
                    
                    
                        .antwort-left {
                            padding-left: 15.847302436962952%;
                            padding-right: 1.92365122%;
                        }
                        .antwort-right {
                            padding-right: 15.847302436962952%;
                            padding-left: 1.92365122%;
                        } 
                    .radio.radio-inline {
                        margin: 5px 0 15px 0;
                        
                        label {
                            padding: 0 34px 38px 0;
                            text-align: center;
                        }
                        input {
                            width: 32px;
                            height: 32px;
                            margin-left: 0;
                        }
                    }
                    
                    .toggle.btn.btn-default.off, .toggle.btn.btn-primary {
                	    width: 160px !important;
                		height: 32px !important;
                		margin-top: 15px;
                    }
                    label.btn.btn-primary.toggle-on {
                        margin: 0;
                        padding-left: 0;
                    }
                    label.btn.btn-default.active.toggle-off {
                        margin: 0;
                        padding-left: 15px;
                    }
                    span.toggle-handle.btn.btn-default {
                		height: 30px;
                	    width: 30px;
                	    top: 0;
                	    left: 0;
                    }
                    .toggle-btn {
                        color: #fff;
                        background-color: #fff;
                        border-color: @turkis;
                    }
                    .btn-primary {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    .btn {
                        display: inline-block;
                        padding: 3px;
                        font-size: .875em;
                    }
                    .btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
                        color: #fff;
                        background-color: @turkis;
                        border-color: @turkis;
                    }
                    
                }
            }
            #fragebogen-save {
                width: 50%;
                height: auto;
                margin: 39px 0 15px 0;
                padding: 14px;
            }
        }
        .register-konto {
            padding: 1px 45px 25px 30px !important;
        }
        
        #impressum, #agb, #faq {
            .middle-row {
                padding-left: 2.7940626169390046%;
                padding-right: 21.93214419%;
            }
        }
    }
    
    #main-content .register-fragen .register--wg h5, #main-content .register-fragen .register-fragebogen h5, #main-content .register-fragen .register-konto h5 {
        margin: 15px 0 3px 0;
        text-transform: uppercase;
        line-height: 1.14285714em;
    }

    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-right.antwort-left {
        padding: 5px 0px 10px 0;
    }
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-left.antwort-right {
        padding: 5px 0 10px 0px;
    }
    #main-content .register-fragen .register-fragebogen .fragen-container .radio.radio-inline {
        margin: 5px 0 5px 0;
    }
    
    #main-content .register-fragen .register-wunsch-wg {
        margin: 50px 0 35px 0;
        padding: 1px 45px 25px 30px;
    }
    
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 4.72973%;
        margin-top: 4em;
    }
}
**************/