@media only screen and (min-width:75em) {
    
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 5.72973%;
        margin-top: 2em;
    }
}


@media only screen and (min-width:100em) {

    #main-content {
        
        .register-fragen {
            
            padding-left: 3.125%;
            padding-right: 3.125%;
        
            h3 {    
                font-size: 1.75em;
                padding: 5px 0;
                
                &:first-of-type {
                    font-size: 2em;
                }
            }
            .register-fragebogen {
    
                .fragen-container {
                    margin: 45px 0 110px 0;
                    
                    .antwort-left {
                        padding-left: 15.847302436962952%;
                    }
                    .antwort-right {
                        padding-right: 15.847302436962952%;
                    }
                }
            }
        }
    }
    
    #main-content .register-fragen .register-wunsch-wg h5, #main-content .register-fragen .register-fragebogen h5, #main-content .register-fragen .register-konto h5 {
        margin: 20px 0 10px 0;
        text-transform: uppercase;
        line-height: 1.14285714em;
    }
    #main-content .register-fragen .register-fragebogen .fragen-container {
        margin: 35pxx 0 120px 0;
    }
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-right.antwort-left {
        padding: 5px 0px 10px 0;
    }
    .col-lg-5.col-md-5.col-sm-5.col-xs-5.text-left.antwort-right {
        padding: 5px 0 10px 0px;
    }
    #main-content .register-fragen .register-fragebogen .fragen-container .radio.radio-inline {
        margin: 5px 0 5px 0;
    }
    
    #main-content .register-fragen .register-wunsch-wg {
        margin: 35px 0 35px 0;
        padding: 1px 45px 25px 30px;
    }
    
    #main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
        width: 4.72973%;
        margin-top: 4em;
    }
}




//     #main-content {
//         .register-fragen {
//             .register-wunsch-wg, .register-konto {
//                 margin-left: 0;
//                 margin-right: 0;
//                 padding: 5px 15px 15px 15px;
//             }
//         }
//     }
    
//     .toggle-important {
//         position: relative;
//         top: 0;
//         left: -8%;
//     }
    
//     #main-content .register-fragen {
//         h3 {font-size: 1.625em;}
//         h4 {font-size: 1em;}
//     }
    
    
// }