html, body {
	width: 100%;
	height: 100%
}

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

::-webkit-scrollbar {
	display: none
}

.page-wrapper {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#main-header {
	position: fixed;
	width: 100%;
	height: 5em;
	background-color: #04e0d7;
	padding: 5px 5px 0px 0px;
	top: 0;
	z-index: 999;
}
#main-content {
	position: relative;
	top: 5em;
}	
#main-footer {
	position: fixed;
	width: 100%;
}
	
.no-gutter {
    padding-right:0;
    padding-left:0;
}

@media screen and (max-width: 32em) {
	.container {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: 15px;
	    margin-left: 15px;
	}
	div#und-los-gehts {
    	padding-bottom: 7em;
	}
	.header-logo {
    	background: url(/xstorage/template/img/redesign/mpwg-schriftzug.png) no-repeat;
    	background-position: 28px 2px;
    	background-size: 80%;
	}

	#main-footer {
	    height: 4em;
	    bottom: 0;
	    background-color: #646464;
	}
	
	img.footer-icon-fb {
    	width: 1.4em;
	}
}


@media screen and (max-width: 48em) {
	
/*** HEADER ***/
/* 	#main-header { */
/* 		height: 5em; */
/* 		background-color: #04e0d7; */
/* 		padding: 5px 5px 0px 0px; */
/* 	}  */
	.header-logo {
    	max-height: 5em;
    	background-color: #04e0d7;
	}	
	#main-header .col-xs-2:first-of-type {
		padding-left: 0;
	}
	#main-header > .row:first-child {
		padding: 5px;
	}
	.navbar-nav {
	    margin: 0;
	}
/* 	.header-logo { */
/* 	    background: url(/xstorage/template/img/redesign/mpwg-schriftzug.png) no-repeat; */
/* 	    background-position: 30px 0; */
/* 	} */
	img.icon-duck {
	    width: 28px;
	    vertical-align: top;
	}
	.col-xs-2.hidden-md:first-of-type {
	    padding-left: 0;
	}
	ul.nav.navbar-nav.navbar-right li a {
	    padding: 0px 0 0 10px;
	}
	button.btn.btn-default.btn-login {
    	padding: 4px 10px;
	}
	.col-xs-2.hidden-md.no-gutter.nav-lang {
		position: relative;
    	top: 5px;
    	right: -10px;
	}

/*** MAIN CONTENT ***/
	#main-content {
				
	}
		
}


@media screen and (max-width: 76.8em) { 

	
}

/*
@media screen and (max-width: 1024px) { 

}
*/

/**
 *
 *	RETINA IMAGES
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	/* 
		ORIGINAL CSS 
		.logo {
		background-image: url(images/logo.png) no-repeat;
		}
		.logo {
			background-image: url(logo@2x.png);
			-webkit-background-size: 12px 16px;
			background-size: 12px 16px;
			}
				background-size equal to the size of the original image 
			 	fills the container with the higher res image 
			
	 */
}