#main-content #latest-news .more-news {
	display: none;
}

@media only screen and (max-width: 47.9375em) and (min-width: 30em) {
	#main-content .register-fragen .register-fragebogen .fragen-container label.btn.btn-primary.toggle-on {
    	margin: 0;
    	padding-left: 0px;
    	padding-right: 10px;
	}
	#main-content .register-fragen .register-fragebogen .fragen-container .toggle.btn.btn-default.off, #main-content .register-fragen .register-fragebogen .fragen-container .toggle.btn.btn-primary {
	    width: 130px !important;
	    height: 35px !important;
	    margin-top: 5px;
	}
	#main-content .register-fragen .register-fragebogen .fragen-container span.toggle-handle.btn.btn-default {
	    height: 34px;
	    width: 33px;
	    top: 0;
	    left: 0;
	}
}


@media only screen and (max-width: 62em) and (min-width: 48em) {

	#main-content .register-fragen .register-fragebogen .fragen-container .btn-default {
	    border-color: #04e0d7;
	    line-height: 1.5;
	}
	#main-content .register-fragen .register-fragebogen .fragen-container label.btn.btn-primary.toggle-on {
	    line-height: 1.5;
	}
	span.toggle-handle.btn.btn-default {
	    height: 30px;
	    width: 28px;
	    top: 0;
	    left: 0;
	}
	.toggle.btn.btn-default.off, .toggle.btn.btn-primary {
	    width: 145px !important;
	    height: 30px !important;
	    margin-top: 0;
	}
}



@media only screen and (min-width: 75em) {
	#main-content .register-fragen .register-fragebogen .fragen-container label.btn.btn-primary.toggle-on {
    	margin: 0;
    	padding-left: 0px;
    	padding-right: 10px;
	}
	#main-content .register-fragen .register-fragebogen .fragen-container .toggle.btn.btn-default.off, #main-content .register-fragen .register-fragebogen .fragen-container .toggle.btn.btn-primary {
	    width: 160px !important;
	    height: 36px !important;
	    margin-top: 5px;
	}
	#main-content .register-fragen .register-fragebogen .fragen-container span.toggle-handle.btn.btn-default {
	    height: 34px;
	    width: 33px;
	    top: 0;
	    left: 0;
	}
}



/*
@media only screen and (max-width: 30em) {

	#main-content .carousel .carousel-inner .carousel-caption .hl-caption {
	    font-family: 'NunitoSans-light';
	    font-size: 1em;
	}
	#main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
    	width: 26px;
	}
	blockquote {
	    margin-bottom: 10px;
	}
	#so-einfach-gehts h4.nunito-light.text-uppercase.text-center {
	    font-size: 1.1875em;
	}
	#und-los-gehts #btn-wgzimmer .fp-text-small, #und-los-gehts #btn-mitbewohner .fp-text-small, #und-los-gehts #btn-wg .fp-text-small {
    	margin: 20px;
    	height: auto;
	}
	#und-los-gehts h2 {
	    font-size: 24px;
	    color: #646464;
	    border-top: 2px solid #646464;
	    padding-top: 8em;
	}
}



@media only screen and (max-width: 47.9375em) and (min-width: 30em) {

	#main-content .register-fragen .register-fragebogen .fragen-container .btn-default {
	    border-color: #04e0d7;
	    line-height: 1.75;
	    max-height: 35px;
	}
	#main-content .register-fragen .register-fragebogen .fragen-container .antwort-left {
    	padding-left: 8% !important;
    	padding-right: 2% !important;
	}
	#mobile-register-btn {
	    display: block;
	    margin: 30px 0 0 0;
	    text-align: center;
	}
	
}
	
@media only screen and (max-width: 62em) and (min-width: 48em) {
	#main-content .register-fragen .register-fragebogen .fragen-container .btn-default {
	    border-color: #04e0d7;
	    line-height: 2;
	    min-height: 35px;
	    
	}
}	

@media only screen and (min-width: 62em) {

}
*/




