/* icon sprite for search-page */
.icon-sprite-sp {
	background-image: url(/xstorage/template/redesign/svg/icons_sprite_sp.png);
    background-repeat: no-repeat;
    background-position: 125% -33px;
    width: 30px;
    height: 30px;
}



