.meinprofil-submenu {
	.room-settings {
		.room-edit {
			.room-number , .room-name {
			}
		}
	}
}




/*
.profil.profil-user {
	.icon-close-profile {
		top: 5px;
	}

	.userinfos {
		.userinfos-left {
			margin: 5px 0 10px 0;
			text-align: left;
			.profileimage {
				padding: 5px;
				margin-top: 5px;
				margin-left: 5px;
			}
		}

		.userinfos-right {
			.profil-inner-padding {
				padding: 10px 0 10px 5px;
				.btn-wrapper {
					padding-top: 0;
					padding-left: 0;
					width: 95%;
				}

				.svg-btn-icons {
					width: 100%;
					margin: 7px 0;
					&.svg-chatnachricht , &.btn-share-fb {
						padding: 7px 0;
						background-size: 8%;
						background-position: 4% 50%;
					}

					.svg-blockliste , .svg-merkliste {
						padding: 7px 0;
						background-size: 8%;
						background-position: 4% 47%;
					}

					.icon-description {
						position: relative;
						top: 0;
						left: 15%;
						font-family: @nunitoblack;
						font-size: .8125em;
						color: #fff;
						text-transform: uppercase;
						&:hover , &:focus {
							text-decoration: none;
						}

						&:active , &:visited {
							text-decoration: none;
							color: @turkis;
						}
					}
				}

				h1 {
					font-size: 1.3125em;
					line-height: 1.2;
				}

				h3 {
					font-size: .625em;
				}

				.matchinginfos {
					.prozent , .match {
						font-size: .75em ! important;
						line-height: 1.2;
					}

					.prozent:after {
						content: "%";
					}
				}
			}
		}
	}
}
 */
