header {
  position: fixed;
  z-index: 20;
}
footer {
  position: fixed;
}
.fixfixed .header {
  position: absolute;
}
.fixfixed .footer {
  position: absolute;
}
.ui-widget-content.autocomplete-user-ul {
  list-style-type: none;
  background-color: rgba(100, 100, 100, 0.75);
  height: auto;
  margin: 0;
  padding: 4px;
  padding-left: 10px;
  position: absolute !important;
}
.ui-widget-content.autocomplete-user-ul li.autocomplete-user-result {
  color: #04e0d7;
}
.ui-widget-content.autocomplete-user-ul li a {
  color: #04e0d7;
  font-size: 1.8em;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .ui-widget-content.autocomplete-user-ul li a {
    font-size: 1.25em;
  }
  .ui-widget-content.autocomplete-user-ul li a:hover {
    
  }
}

.ui-widget-content.autocomplete-user-ul {
  list-style-type: none;
  background: #eee;
  height: auto;
  margin: 0;
  padding: 4px;
  padding-left: 10px;
  position: absolute !important;
}

.ui-widget-content.autocomplete-user-ul li.ui-state-focus {
  background: #eee;
  border: 0;
  color: #04e0d7;
}
.ui-widget-content.autocomplete-user-ul li.ui-state-focus a {
  color: #04e0d7;
  text-transform: uppercase;
}
.ui-widget-content.autocomplete-user-ul li.autocomplete-user-result {
  color: #04e0d7;
}
