////////////////////////////// 27.less
/////////////////////////////
#main-content #search-page .shadow-box-left .aside-left-search .searchform form {
    padding: 0;
}

#main-content .searchform .form-group:first-of-type {
    margin-top: 10px;
}
#main-content #search-page input.form-control {
    font-size: .875em;
    width: 100%;
    margin-bottom: 0;
    height: 34px;
}
#main-content #search-page input.form-control {
    font-size: .75em;
    width: 100%;
    margin-bottom: 0;
    height: 30px;
}
#main-content .icon-Map.js-autocomplete-duck {
    position: relative;
    font-size: 1.3125em;
    bottom: 25px;
    left: 90%;
}
#main-content #search-page .shadow-box-left .aside-left-search h1 {
    font-size: 2.75em;
    width: 70%;
    float: left;
    margin: -7px 15px 0 0;
}
#main-content #search-page .shadow-box-left .aside-left-search .searchform form {
	padding: 0 0 15px 0;
}





#search-criteria {
	form {
		hr {
		    margin: 15px -2.5% 0 -2.5%;
		    width: 105%;
		    border: 0;
		    border-top: 1px solid #d9d9d9;
		}

		//datepicker
		.form-group {
			display: inline-flex;
    		width: 100%;

    		label {
    			width: 15%;
    			margin: 10px 25px 0 0;
    		}
    		input.form-control {
				height: 30px;
				margin-bottom: 0;
				width: 150%;
    		}
		}
	}
}

//budget slider
.form-group {
    margin-top: 10px;
    label {
		margin-top: 17px;
    }
    .legend {
	    color: #04e0d7;
	    position: relative;
	    top: 14px;
	    left: 64px;
	    width: 63%;

	    .pull-left {
	    	float: none;
	    	position: relative;
    		left: 5%;
	    }
	    .pull-right {
	    	float: none;
	    	position: relative;
    		left: 78%;
	    }
	}
}

#slider-range {
    width: 52%;
    float: right;
    position: relative;
    left: -40px;
    top: 2px;
    margin-left: 22px;
    margin-right: 23px;
}
.ui-widget-content {
    border: none;
    height: 2px;
    background: #04e0d7;
    margin-top: 20px;
    margin-bottom: 26px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-handle {
    width: 40px;
    height: 40px;
    font-size: .6255em;
}

// form group WO
.form-group {	
	display: inline-flex;
    width: 100%;
    margin-top: 26px;
    
    label {
		width: 15%;
    	margin: 10px 25px 0 0;
    }

    input.form-control {
		height: 30px;
		margin-bottom: 0;
		width: 150%;

		.icon-Map.js-autocomplete-duck {
		    position: relative;
		    font-size: 1.25em;
		    bottom: 25px;
		    left: 130%;
		}
	}
}


// form group UMKREIS
.form-group {
    margin-top: -12px;
	
	label {
		float: left;
    	margin-right: 0;
	}

	#umkreis-slider {
		width: 58%;
	    position: relative;
	    left: 76px;
	    top: 7px;
	    margin-left: 0;
	    margin-right: 0;
	}
	.legend {
		margin: 0 10px;
	    font-size: .75em;
	    width: 64%;
	    top: 10px;
	    left: 63px;

	    .pull-left {
	    	float: none;
	    	position: relative;
    		left: 1%;
	    }
	    .pull-right {
	    	float: none;
	    	position: relative;
    		left: 71%;
	    }
	}
}







////////////////////////////// 25.less
/////////////////////////////
#slider-range {
    margin-left: 21px;
    margin-right: 23px;
}
.ui-widget-content {
    border: none;
    height: 2px;
    background: #04e0d7;
    margin-top: 20px;
    margin-bottom: 21px;
}
.ui-slider-horizontal .ui-slider-handle { 
	width: 40px;
	height: 40px;
	font-size: .625em;
}
.ui-slider-horizontal .ui-slider-handle {
	&:first-of-type {
		    left: 0%;
	}
	&:last-of-type {
		left: 100%;
	}
}

//@media only screen and (min-width: 20em) {
//
//	#main-content .carousel .carousel-inner .carousel-caption .hl-caption {
//	    font-family: 'NunitoSans-light';
//	    font-size: 1em;
//	}
//	#main-content .carousel .carousel-inner .carousel-caption .header-icon-duck {
//    	width: 26px;
//	}
//	blockquote {
//	    margin-bottom: 10px;
//	}
//	#so-einfach-gehts h4.nunito-light.text-uppercase.text-center {
//	    font-size: 1.1875em;
//	}
//	#und-los-gehts #btn-wgzimmer .fp-text-small, #und-los-gehts #btn-mitbewohner .fp-text-small, #und-los-gehts #btn-wg .fp-text-small {
//    	margin: 20px;
//    	height: auto;
//	}
//}



//@media only screen and (max-width: 47.9375em) and (min-width: 30em) {
//	#main-content .carousel .carousel-inner .carousel-caption .hl-caption {
//	    font-family: 'NunitoSans-light';
//	    font-size: 1em;
//	}
//	#und-los-gehts h2 {
//	    font-size: 1.5em;
//	    color: #646464;
//	    border-top: 2px solid #646464;
//	    padding-top: 8em;
//	}
//	#mobile-register-btn {
//	    display: block;
//	    margin: 30px 0 0 0;
//	    text-align: center;
//	}
//}
	



//#mobile-register-btn {
//    margin: 15px 0;
//    text-align: center;
//}
//#mobile-register-btn button#mob-btn-wgzimmer, #mobile-register-btn button#mob-btn-mitbewohner {
//    width: 135px;
//    height: 50px;
//    margin: 0 5px;
//}
//#mobile-register-btn button#mob-btn-wgzimmer svg, #mobile-register-btn button#mob-btn-mitbewohner svg {
//    width: 26px;
//    height: 26px;
//    position: absolute;
//    top: 12px;
//    left: 10px;
//}
//#mobile-register-btn button#mob-btn-wgzimmer span, #mobile-register-btn button#mob-btn-mitbewohner span {
//	position: absolute;
//    top: 10px;
//    left: 45px;
//    font-size: 11px;
//    line-height: 1.4;
//    width: 87px;
//    text-align: left;
//}
//
