.fileupload-droppastezone {
	position: absolute;
}

.xr_fullUploader_icon{ 
	font-family: FontEntype;
	font-size: 39px;
	top: -30px;
	position: absolute;
}

.xr_fullUploader {
	

	margin-top: 5px;
	margin-left: 5px;

	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}



.noFiles {
	padding: 50px;
}

.storageView .x-panel-body {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
.storageView .thumb{
    background: #dddddd;
    padding: 3px;
}

.x-quirks .storageView .thumb {
    padding-bottom: 3px;
}

.storageView .thumb img{
    height: 60px;
    width: 80px;
}

.storageView .size2 img{
    height: 120px !important;
    width: 160px !important;
}

.storageView .size3 img{
    height: 240px !important;
    width: 320px !important;
}

.storageView .chossenFA_FILE {
    background:#00b1eb!important;
}

.storageView .uploadedFA_FILE {
    background:red!important;
}

.storageView .chossenFA_FILE .thumb {
  background: #000000 !important;
}

.storageView .chossenFA_FILE_SAVED {
    background:black!important;
    color:white!important;
}

.storageView .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}

.storageView .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    
    width: 86px; /* for ie to ensure that the text is centered */
	height: 14px;
}

.storageView_size_2 .thumb-wrap span {
    width: 160px!important; /* for ie to ensure that the text is centered */
}
.storageView_size_3 .thumb-wrap span {
    width: 320px!important; /* for ie to ensure that the text is centered */
}

.storageView .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url('/xgo/xframe/libs/extjs/examples/view/over.gif') repeat-x left top;
    padding: 4px;
}

.storageView .x-item-selected{
    background: #eff5fb url('/xgo/xframe/libs/extjs/examples/view/selected.gif') no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}

.storageView_size_2 .x-item-selected{
    background: #eff5fb url('/xgo/xframe/libs/extjs/examples/view/selected_2.gif') no-repeat right bottom !important;
    border:1px solid #99bbe8;
    padding: 4px;
}

.storageView_size_3 .x-item-selected{
    background: #eff5fb url('/xgo/xframe/libs/extjs/examples/view/selected_3.gif') no-repeat right bottom !important;
    border:1px solid #99bbe8;
    padding: 4px;
}


.storageView .x-item-selected .thumb{
    background:transparent;
}

.storageView .loading-indicator {
    font-size:11px;
    background-image:url('/xgo/xframe/libs/extjs/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}