/*
 * GridFilters Styles
 */

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(/xgo/xframe/libs/extjs/examples/ux/grid/images/find.png) !important;
}
